<form class="form" autocomplete="off" *ngIf="isReady">
    <div class="content-actions">
        <nb-toolbar [actions]="actions" (action)="onAction($event)"></nb-toolbar>
    </div>
    <header class="content-header">
        <div class="doc-head">
            <div class="doc-head__inner">
                <div class="doc-head__item border-0">
                    <div class="doc-head__title">{{title | translate}}</div>
                </div>
                <div class="doc-head__item border-0">
                    <span class="request-resolution {{model.resolution | lowercase}}" *ngIf="model.resolution == 'ACCEPTED'">
                        <i class="fa fa-check"></i>
                        {{'accepted' | translate}}
                        <span class="request__resolution_time">{{model.resolutionTime | dateFmt:'DD.MM.YYYY'}}</span>
                    </span>
                    <span class="request-resolution {{model.resolution | lowercase}}" *ngIf="model.resolution == 'DECLINED'">
                        <i class="fa fa-times"></i>
                        {{'declined' | translate}}
                        <span class="request__resolution_time">{{model.resolutionTime | dateFmt:'DD.MM.YYYY'}}</span>
                    </span>
                </div>
            </div>
        </div>
    </header>
    <section class="content-body">
        <section class="task-cancel-info" *ngIf="model.resolution == 'DECLINED' && model.decisionComment">
            <span>{{'decline_reason' | translate}}:&nbsp;</span>
            <span>{{model.decisionComment}}</span>
        </section>
        <tabs>
            <tab tabTitle="{{'properties' | translate}}">
                <fieldset class="fieldset">
                    <div class="form-group">
                        <div class="control-label">
                            {{'task' | translate}}
                        </div>
                        <div class="controls">
                            <a class="input-placeholder" [routerLink]="[model.task.url]">{{model.task.title}}</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label">
                            {{'request_type' | translate}}
                        </div>
                        <div class="controls">
                            <div class="span8">
                                <nb-select class="span8" name="requestType" [disabled]="!isEditable" [placeholder]="'request_type' | translate"
                                    [url]="REFERENCE_URL.API_REQUEST_TYPES" [(ngModel)]="model.requestType">
                                </nb-select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label">
                            {{'comment' | translate}}
                        </div>
                        <div class="controls">
                            <div class="span8">
                                <textarea name="comment" autosize [readonly]="!isEditable" [(ngModel)]="model.comment"></textarea>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <hr>
                <nb-attachments [model]="model" [fsId]="fsId" [editable]="isEditable"></nb-attachments>
            </tab>
            <tab tabTitle="{{'acl_tab_title' | translate}}" icon="fa fa-share-alt" *ngIf="acl">
                <nb-acl [acl]="acl"></nb-acl>
            </tab>
        </tabs>
    </section>
    <footer class="content-footer form-footer">
        <nb-model-creation-details [model]="model"></nb-model-creation-details>
    </footer>
</form>
