<div class="content-header" *ngIf="headerVisible">
    <h1 class="header-title" *ngIf="titleVisible">
        {{title | translate}}<sup *ngIf="!loading && meta.count">({{meta.count}})</sup>
    </h1>
    <div class="content-actions" *ngIf="actionsVisible && (actions && actions.length || meta.totalPages > 1)">
        <button class="btn" [ngClass]="action.className" type="button" [disabled]="action.disabled" (click)="onAction(action, $event)" *ngFor="let action of actions">
            <i class="action {{action.icon}}" *ngIf="action.icon"></i>
            <span *ngIf="action.caption">{{action.caption | translate}}</span>
        </button>
        <pagination [totalPages]="meta.totalPages" [page]="meta.page" (change)="onChangePage($event)"></pagination>
    </div>
</div>
<div class="content-body">
    <div class="view">
        <header class="entries-head" *ngIf="captionsVisible">
            <div class="head-wrap">
                <label class="entry-select" *ngIf="selectable">
                    <input type="checkbox" class="all" />
                </label>
                <div class="entry-captions">
                    <div [class]="column.className" *ngFor="let column of columns.root">
                        <sort-control *ngIf="column.sort" [direction]="column.sort" [name]="column.value" [active]="activeSort" (sort)="onSort($event)">
                            {{column.name | translate}}
                        </sort-control>
                        <span *ngIf="!column.sort">{{column.name | translate}}</span>
                    </div>
                </div>
            </div>
        </header>
        <div class="entries">
            <div class="view-empty" *ngIf="!loading && (!list || list.length === 0)">
                {{emptyMessage | translate}}
            </div>
            <div class="entry-wrap" *ngFor="let model of list">
                <div class="entry">
                    <label class="entry-select" *ngIf="selectable">
                        <input type="checkbox" name="docid" [value]="model.id" />
                    </label>
                    <a class="entry-link" title="" [href]="model.url" (click)="onOpenModel(model, $event)">
                        <div class="entry-fields" *ngIf="columns[model.kind]">
                            <div [ngSwitch]="column.type" [class]="column.className" *ngFor="let column of columns[model.kind]">
                                <span *ngSwitchCase="'localizedName'" [class]="column.valueAsClass ? (column.valueAsClass + model[column.value]) : ''">{{model | localizedName:column.value}}</span>
                                <span *ngSwitchCase="'attachment'"><i class="fa fa-paperclip" *ngIf="model.attachments.length"></i></span>
                                <span *ngSwitchCase="'translate'">{{model[column.value] | text:'L' | translate}}</span>
                                <span *ngSwitchDefault [class]="column.valueAsClass ? (column.valueAsClass + model[column.value]) : ''">{{model[column.value]}}</span>
                            </div>
                        </div>
                        <div class="entry-fields" *ngIf="!columns[model.kind]">
                            <div [ngSwitch]="column.type" [class]="column.className" *ngFor="let column of columns.root">
                                <span *ngSwitchCase="'localizedName'" [class]="column.valueAsClass ? (column.valueAsClass + model[column.value]) : ''">{{model | localizedName:column.value}}</span>
                                <span *ngSwitchCase="'attachment'"><i class="fa fa-paperclip" *ngIf="model.attachments.length"></i></span>
                                <span *ngSwitchCase="'translate'">{{model[column.value] | text:'L' | translate}}</span>
                                <span *ngSwitchDefault [class]="column.valueAsClass ? (column.valueAsClass + model[column.value]) : ''">{{model[column.value]}}</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
