<form class="form" *ngIf="isReady">
    <header class="content-header">
        <div class="content-actions">
            <nb-toolbar [actions]="actions" (action)="onAction($event)"></nb-toolbar>
        </div>
        <div class="doc-head">
            <div class="doc-head__row">
                <div class="doc-head__row_item">
                    <div class="doc-head__title">{{title | translate}}</div>
                </div>
                <div class="doc-head__row_item">
                    <div class="doc-head__reg-number" *ngIf="model.regNumber">{{model.regNumber}}</div>
                    <div class="status-{{model.status | lowercase}}">
                        <span>{{model.status | lowercase | translate}}</span>
                        <span class="text-muted">{{model.statusDate | dateFmt:'DD.MM.YYYY'}}</span>
                    </div>
                </div>
            </div>
            <div class="doc-head__row">
                <input *ngIf="isEditable" class="doc-head__input" [class.invalid]="errors.title"
                    autocomplete="off" required name="title" maxlength="140" placeholder="{{'title' | translate}}"
                    [(ngModel)]="model.title">
                <div *ngIf="!isEditable" class="doc-head__input">{{model.title}}</div>
            </div>
        </div>
    </header>
    <section class="content-body">
        <schema-form [fsId]="fsId" [(model)]="model" [errors]="errors" [schema]="formSchema"></schema-form>
    </section>
    <footer class="content-footer">
        <div class="record-author" *ngIf="model.author">
            <span>{{'author' | translate}}</span>
            <span>{{model.author.name}}</span>
            <span>{{model.regDate}}</span>
        </div>
    </footer>
</form>
