<ul>
    <li>
        <a [routerLink]="['/Projects', 'tasks']" class="nav-link" [class.active]="isActive(['/']) || isActive(['/Projects/tasks'])">
            <i class="fa fa-list"></i>
            <span>{{'tasks_all' | translate}}</span>
        </a>
    </li>
    <li>
        <a [routerLink]="['/Projects', 'tasks', 'my']" class="nav-link" [class.active]="isActive(['/Projects/tasks/my'])">
            <i class="fa fa-pencil"></i>
            <span>{{'my_tasks' | translate}}</span>
        </a>
    </li>
    <li>
        <a [routerLink]="['/Projects', 'tasks', 'inbox']" class="nav-link" [class.active]="isActive(['/Projects/tasks/inbox'])">
            <i class="fa fa-inbox"></i>
            <span>{{'tasks_assigned_to_me' | translate}}</span>
        </a>
    </li>
    <li class="divider"></li>
    <li>
        <a [routerLink]="['/Projects', 'projects']" class="nav-link" [class.active]="isActive(['/Projects/projects'])">
            <i class="fa fa-puzzle-piece"></i>
            <span>{{'projects' | translate}}</span>
        </a>
        <ul>
            <li *ngFor="let project of projects">
                <a [routerLink]="['/Projects', 'projects', project.id, 'tasks']" class="nav-link" [class.active]="isActive(['/Projects/projects/' + project.id + '/tasks'])">
                    <i class="fa fa-file-text-o"></i>
                    <span>{{project.name}}</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
