<form class="form" *ngIf="isReady">
    <header class="content-header">
        <div class="content-actions">
            <button class="btn-back" type="button" title="{{'close' | translate}}" (click)="close($event)">
                <i class="fa fa-chevron-left"></i>
                <span>{{'close' | translate}}</span>
            </button>
            <button type="button" class="btn btn-primary" *ngIf="canSave" [disabled]="!request.requestTypeId || (isResolveAction && !dueDate)" (click)="sendRequest()">
                {{'send_request' | translate}}
            </button>
        </div>
        <h1 class="header-title">
            <span>{{'task_request' | translate}}</span>
            <span class="request-resolution {{request.resolution | text:'L'}}" *ngIf="request.resolution == 'ACCEPTED'">
                <i class="fa fa-check"></i>
                {{'accepted' | translate}}
                <span class="request__resolution_time">{{request.resolutionTime | dateFmt:'DD.MM.YYYY'}}</span>
            </span>
            <span class="request-resolution {{request.resolution | text:'L'}}" *ngIf="request.resolution == 'DECLINED'">
                <i class="fa fa-times"></i>
                {{'declined' | translate}}
                <span class="request__resolution_time">{{request.resolutionTime | dateFmt:'DD.MM.YYYY'}}</span>
            </span>
        </h1>
    </header>
    <section class="content-body">
        <section class="task-cancel-info" *ngIf="request.resolution == 'DECLINED' && request.decisionComment">
            <span>{{'decline_reason' | translate}}:&nbsp;</span>
            <span>{{request.decisionComment}}</span>
        </section>
        <tabs>
            <tab class="tab-pane" tabTitle="{{'properties' | translate}}">
                <fieldset class="fieldset">
                    <div class="form-group">
                        <div class="control-label">
                            {{'task' | translate}}
                        </div>
                        <div class="controls">
                            <a class="input-placeholder" [routerLink]="['/task', task.id]">{{task.title}}</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label">
                            {{'request_type' | translate}}
                        </div>
                        <div class="controls">
                            <div class="span8">
                                <selection
                                    class="span8"
                                    [selectedItems]="request.requestType"
                                    [disabled]="!editable"
                                    [searchable]="true"
                                    placeHolder="{{'request_type' | translate}}"
                                    url="/Reference/p?id=request-types"
                                    (change)="setRequestType($event)">
                                </selection>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label">
                            {{'comment' | translate}}
                        </div>
                        <div class="controls">
                            <div class="span8">
                                <textarea name="comment" autosize [readonly]="!editable" [(ngModel)]="request.comment"></textarea>
                                <!-- <markdown-editor
                                    [markdown]="''"
                                    editable="true"
                                    placeHolder="{{'comment' | translate}}"
                                    updateTimeout="100"
                                    (update)="setComment($event)">
                                </markdown-editor> -->
                            </div>
                        </div>
                    </div>
                </fieldset>
            </tab>
            <tab class="tab-pane" tabTitle="{{'acl_tab_title' | translate}}" icon="fa fa-share-alt" *ngIf="!isNew">
                <acl [acl]="request.acl"></acl>
            </tab>
        </tabs>
        <attachments [model]="request" [editable]="editable" (upload)="addAttachment($event)" (delete)="deleteAttachment($event)"></attachments>
    </section>
    <section class="request__resol" *ngIf="canResolution">
        <fieldset class="fieldset" *ngIf="isResolveAction">
            <div class="form-group">
                <div class="control-label">
                    {{'due_date' | translate}}
                </div>
                <div class="controls">
                    <div class="span8">
                        <input datepicker class="span2" name="dueDate" (select)="setDueDate($event)" />
                        <div class="help">
                            {{'new_due_date_help' | translate}}
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="request__buttons">
            <button type="button" class="btn" (click)="decline(request)">
                {{'decline' | translate}}
            </button>
            <button type="button" class="btn btn-primary" [disabled]="request.requestType.name == 'prolong' && !dueDate" (click)="doAccept(request)">
                {{'accept' | translate}}
            </button>
        </div>
    </section>
    <footer class="content-footer">
        <div class="record-author" *ngIf="request.authorId">
            <span>{{'author' | translate}}</span>
            <!-- <employee-input [ids]="[request.authorId]"></employee-input> -->
            <span>{{request.regDate}}</span>
        </div>
    </footer>
</form>
<request-decline-dialog *ngIf="showDeclineDialog" (confirm)="onConfirmDeclineDialog($event)" (cancel)="onCancelDeclineDialog()"></request-decline-dialog>
