# Compiled source #
###################
*.class
# Application resources #
#########################
cfg.xml
/resources/config.properties
# utility_data
/resources/utilstorage/utility_data.lock.db
/resources/utilstorage/utility_data.trace.db
#any backup data
/resources/backup/**
#tmp folder
/tmp/
# Jasper reports resources #
##################
/rule/*/Resources/report/templates/prj/*.jasper
/rule/*/Resources/report/templates/.metadata/**
/rule/*/Resources/report/templates/prj/.settings/**
/rule/*/Resources/report/templates/prj/.classpath
/rule/*/Resources/report/templates/prj/.project
/rule/*/Resources/report/templates/prj/bin
# Idea resources #
##################
.idea
*.iml
/out/
/.svn/
# Logs #
########
/logs/
/bin/
/webserver/
/.settings/
/.classpath
/.project
#
node_modules/
.vscode/
/webapps/Workspace/manifest.appcache