# Compiled source #
###################
*.class
# Application resources #
#########################
cfg.xml
/resources/config.properties
# utility_data
/resources/utilstorage/utility_data.lock.db
/resources/utilstorage/utility_data.trace.db
#any backup data
/resources/backup/**
#tmp folder
/tmp/
/rule/*/Resources/report/templates/*.jasper
/rule/*/Resources/report/.metadata/**
/rule/*/Resources/report/templates/.settings/**
/rule/*/Resources/report/templates/.classpath
/rule/*/Resources/report/templates/.project
# Idea resources #
##################
.idea
*.iml
/out/
/.svn/
# Logs #
########
/logs/
/bin/
/webserver/
/.settings/
/.classpath
/.project
#
node_modules/
.vscode/
/webserver/
/webapps/Workspace/manifest.appcache