<div
	style="border: 1px solid #f1f1f1; margin: 0; max-width: 700px; padding: 8px; width: 100%;">
	Нашият център за обучение подготвя програмисти да се разбира
		най-вече в областта на програмирането B2B решение, това е нашата
		основна цел, обаче, тези курсове позволяват да се направи преглед на
		технологии и тенденции в областта на развитието, която се основава на
		становището от нашите експерти нашия екип. Център за обучение
		предполага наличието на определено ниво на познания по компютърна
		грамотност, за да се осигури обучение възможно най-ефективно.
</div>