<div class="content-header" *ngIf="headerVisible">
    <h1 class="header-title" *ngIf="titleVisible">
        {{title | translate}}<sup *ngIf="!loading && meta.count">({{meta.count}})</sup>
    </h1>
    <div class="content-actions" *ngIf="actionsVisible">
        <button class="btn" type="button" (click)="onAction(action, $event)" *ngFor="let action of actions">
            <i class="action {{action.icon}}" *ngIf="action.icon"></i>
            <span>{{action.caption | translate}}</span>
        </button>
        <button class="btn btn-refresh" type="button" (click)="onRefresh()">
            <i class="fa fa-refresh"></i>
        </button>
        <pagination [totalPages]="meta.totalPages" [page]="meta.page" (change)="onGoToPage($event)"></pagination>
    </div>
</div>
<div class="content-body">
    <div class="view">
        <header class="entries-head" *ngIf="captionsVisible">
            <div class="head-wrap">
                <label class="entry-select" *ngIf="selectable">
                    <input type="checkbox" class="all" />
                </label>
                <div class="entry-captions">
                    <div [class]="column.className" *ngFor="let column of columns">
                        <sort-control *ngIf="column.sort" [direction]="column.sort" [name]="column.value" [active]="activeSort" (sort)="onSort($event)">
                            {{column.name | translate}}
                        </sort-control>
                        <span *ngIf="!column.sort">{{column.name | translate}}</span>
                    </div>
                </div>
            </div>
        </header>
        <div class="entries">
            <div class="entry-wrap" *ngFor="let model of list">
                <div class="entry">
                    <label class="entry-select" *ngIf="selectable">
                        <input type="checkbox" name="docid" [value]="model.id" />
                    </label>
                    <a class="entry-link" [routerLink]="['/reference/form', model.kind + '-form']" [queryParams]="{ docid: model.id }">
                        <div class="entry-fields">
                            <div [class]="column.className" [ngSwitch]="column.type" *ngFor="let column of columns">
                                <span *ngSwitchCase="'localizedName'" class="localized-name">
                                    {{model | localizedName:column.value}}
                                </span>
                                <span *ngSwitchDefault>
                                    {{model[column.value]}}
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
