<form (submit)="sendRequest($event)">
    <header>{{'task_request' | translate}}</header>
    <section>
        <request-type-input [editable]="editable" placeHolder="{{'request_type' | translate}}" [requestType]="requestType" (select)="setRequestType($event)">
        </request-type-input>
        <p *ngIf="!editable"></p>
        <textarea class="rt-editor" placeholder="{{'comment' | translate}}" *ngIf="editable" [(ngModel)]="comment"></textarea>
        <!-- <markdown-editor
            [markdown]="''"
            editable="true"
            placeHolder="{{'comment' | translate}}"
            updateTimeout="100"
            (update)="setComment($event)">
        </markdown-editor> -->
        <attachments [model]="request" [editable]="editable" (upload)="addAttachment($event)" (delete)="deleteAttachment($event)"></attachments>
    </section>
    <section *ngIf="isResolveAction">
        <b>{{'new_due_date' | translate}}</b>
        <input datepicker class="span2" (select)="setDueDate($event)" />
    </section>
    <footer>
        <button class="btn btn-cancel" type="button" (click)="cancel()">{{'cancel' | translate}}</button>
        <button class="btn btn-primary" type="submit" [disabled]="!requestType || (isResolveAction && !dueDate)">
            <span *ngIf="!isResolveAction">{{'send_request' | translate}}</span>
            <span *ngIf="isResolveAction">{{'accept' | translate}}</span>
        </button>
    </footer>
</form>
