<notification></notification>
<div class="layout" [class.hidden]="!isReady">
    <div class="content-overlay" (mousedown)="hideNav($event)" (touchstart)="hideNav($event)"></div>
    <navbar [user]="loggedUser"></navbar>
    <section class="container">
        <nav data-c="nav" class="aside side-nav"></nav>
        <main class="content">
            <router-outlet></router-outlet>
        </main>
    </section>
</div>
<div class="app-loading" *ngIf="!isReady">
    <img class="brand-logo" alt="logo" src="{{'img/logo.png'}}" />Loading...
</div>
<img-view></img-view>
