<section
     [attr.data-nav]="section.customID"
     [class.side-tree-collapsible]="section.caption"
     [class.side-tree-collapsed]="expandedEntryIds.indexOf(section.customID) == -1"
     *ngFor="let section of outline">
    <header data-role="side-tree-toggle" (click)="toggleCollapsible(section.customID, $event)" *ngIf="section.caption">
        <i class="side-tree-toggle fa"></i>
        <span>{{section.caption | translate}}</span>
    </header>
    <nav nb-nav-tree
        [rootSegment]="rootSegment"
        [entries]="section.entries"
        [expandedEntryIds]="expandedEntryIds"
        (toggle)="toggleCollapsible($event)">
    </nav>
</section>
