<header class="header navbar">
    <div class="container">
        <div class="navbar-header">
            <button class="btn-side-nav-toggle" type="button" (click)="toggleNav()"></button>
            <img class="brand-logo" alt="logo" src="{{logoUrl}}" />
            <span class="brand-title">{{headerTitle}}</span>
        </div>
        <nav class="navbar-nav navbar-right">
            <ul class="nav nav-inline navbar-right">
                <li dropdown [tabIndex]="-1" class="dropdown">
                    <a dropdown-toggle href="#" class="dropdown-toggle">
                        <i class="fa fa-user"></i>
                        <span *ngIf="user">{{user.name}}</span>
                    </a>
                    <ul class="dropdown-menu right">
                        <li *ngIf="user">
                            <a class="user-profile" [routerLink]="['/user-profile']">
                                <i class="fa fa-user"></i>
                                <span>{{'your_profile' | translate}}</span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="ws" href="{{workspaceUrl}}">
                                <i class="fa fa-th"></i>
                                <span>{{'workspace' | translate}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <search-form></search-form>
        </nav>
    </div>
</header>
