.approval {
    padding: 8px;
}

.approval__status {
    padding: 0;
}

.approval__blocks {
    list-style: none;
    margin: 8px 0 0;
    padding: 0;
}

.approval__block {
    border-bottom: 1px solid #eee;
    padding: 8px;
}

.approval__block:hover,
.approval__block.is-active {
    background-color: #eee;
    cursor: pointer;
}

.approval__actions {
    margin: 6px 0;
    padding: 0;
}

.approver-list {
    display: block;
    width: 100%;
}

.approver-list + nb-select {
    display: block;
    margin-top: 2px;
}

.approver-list-it {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    min-height: 30px;
    padding: 3px 6px;
}

.approver-list-it:hover {
    background: #f5f5f5;
}

.approver-list-it-body {
    flex: 1;
}

@media ( min-width: 800px) {
    .approver-list-it:not(:hover):not(:focus) .approver-list-it-buttons {
        display: none;
    }
}

.approver-list-it.is-current .approver-list-it-name {
    font-weight: bold;
}

.approver-decision-yes {
    color: green;
}

.approver-decision-no {
    color: red;
}

.approver-current-label {
    display: inline-block;
}
