.view {
    min-width: 800px;
}

.entry-wrap.active .entry {
    background: #eee;
}

.vw-icon {
    min-width: 22px;
    text-align: center;
    width: 22px;
}

.vw-name,
.vw-title {
    min-width: 200px;
    width: 200px;
}

.vw-reg-number {
    min-width: 130px;
    width: 130px;
}

.vw-date,
.vw-reg-date {
    max-width: 120px;
    min-width: 120px;
    width: 120px;
}

.vw-doc-language {
    min-width: 140px;
    width: 140px;
}

.vw-doc-type {
    min-width: 180px;
    width: 180px;
}

.vw-recipient,
.vw-sender {
    min-width: 190px;
    width: 190px;
}

.vw-content {
    min-width: 260px;
    width: 25%;
}

.vw-summary {
    min-width: 260px;
    width: 20%;
}
