.entry-wrap.active .entry {
    background: #eee;
}

.vw-reg-number,
.vw-doc-language,
.vw-doc-type,
.vw-recipient,
.vw-sender {}

.vw-content {
    min-width: 260px;
    width: 25%;
}

.vw-summary {
    min-width: 260px;
    width: 20%;
}
