.entry-wrap.active .entry {
    background: #eee;
}

.vw-reg-number {}

.vw-doc-language {
    min-width: 140px;
    width: 140px;
}

.vw-doc-type {
    min-width: 180px;
    width: 180px;
}

.vw-recipient,
.vw-sender {
    min-width: 190px;
    width: 190px;
}

.vw-content {
    min-width: 260px;
    width: 25%;
}

.vw-summary {
    min-width: 260px;
    width: 20%;
}
