.vw-icon {
    text-align: center;
    width: 26px;
}

.vw-reg-number {
    min-width: 130px;
    width: 130px;
}

.vw-reg-date {
    min-width: 120px;
    width: 120px;
}

.vw-doc-language {
    min-width: 140px;
    width: 140px;
}

.vw-doc-type {
    min-width: 180px;
    width: 180px;
}

.vw-sender {
    min-width: 190px;
    width: 190px;
}

.vw-content {
    min-width: 260px;
}
