<div style="border: 1px solid #f1f1f1; margin: 0; max-width: 700px; padding: 8px; width: 100%;">
    <h2 style="background-color: #f8f8f8; padding: 8px; margin: 0;">$orgname$</h2>
    Модуль $moduleName$
    Вопрос - ответ
    
    1. Что означают статусы задачи?
    
    "Черновик" - задача без срока исполнения. Можно использовать как запись -напоминание. Чернвик не виден некоме кроме автора.
    Черновик можно ввести , если задачу со статусом "Открытый" ввести без срока исполнения
    
    "Ожидание срока" - задача ожидающая срока начала исполнения задания. Исполнитель может видеть эту задачу в режиме просмотра.
    
    "Открытый" - задача ожидающая исполнения. При сохранении задачи с данным статусом, исполинетель получает уведомление (если указан адрес при регистрации пользователя) 
    
    "В работе" - задача на исполнении. Статус задачи, когда исполнитель в,полняет действие "Принято в работу". До этого момента задача имеет статус "Открыта"
    
      
    
    
    
    
</div>
