<div style="border: 1px solid #f1f1f1; margin: 0; max-width: 700px; padding: 8px; width: 100%;">
    <h2 style="background-color: #f8f8f8; padding: 8px; margin: 0;">$orgname$</h2>
    Модуль $moduleName$
    
    Вопрос - ответ
    
    1. Что означают статусы задачи?
    
    "Черновик" - задача без срока исполнения. Можно использовать как запись -напоминание. Черновик не виден никому кроме автора.
    Черновик можно ввести , если в задаче со статусом "Открытый" оставить пустым поле срок исполнения    
    "Ожидание срока" - задача ожидающая срока начала исполнения задания. Статус выставляется если срок начала исполнения ранее текущей даты.
     Исполнитель может видеть эту задачу в режиме просмотра. При достижении срока начала исполнения, задача изменит статус на "Открытый"
     автоматический.
    "Открытый" - задача ожидающая исполнения. При сохранении задачи с данным статусом, исполнитель получает уведомление
     (если указан адрес при регистрации пользователя). Статус означает , что исполнитель уведомлен о задаче но не приступил к исполнению этой задачи.    
    "В работе" - задача на исполнении. Статус задачи, когда исполнитель выполняет действие "Принято в работу". При этом статусе, предполагается
    что исполнитель занимается именно этой задачей в текущий момент времени.  
    "Ожидание" - Статус устанавливается если исполнитель, отправил запрос (о "запрос" см.ниже) автору задачи. В момент отправки запроса Автор получает уведомление,
     после чего Автору необходимо принять решение по данному запросу.   
    "Завершен" - задача исполнена. Задачу можно отметить как "Завершен" , приняв запрос на завершение задачи или в задаче выполнив действие
    "Завершить задачу"
    "Отменен" - статус устанавливается автором задачи. Причиной может быть запрос от исполнителя, задача уже не актуальна и т.д. При отмене задачи необходимо
     указать причину отмены. При отмене задачи исполнитель получает уведомление.
    
    2. Можно ли добавить свой статус?
    
    Нет
    
    3. Что означает запрос?
    
    Запрос это способ исполнителем отреагировать на задачу. По завершении исполнения , исполнитель может отправить запрос на завершение задачи
     (Исполнение). В некоторых случаях можно отправить запрос на продление срока исполнения а так же если задание не актуально или задача
    не верно сформулирована можно отправить запрос на отмену задачи.
    
    4. Для чего нужны теги
    
    Теги нужны для сбора статистики по характеру задач. Теги не обязательно указывать но желательно указать.
    Теги вводятся и хранятся в справочнике
    
    5. Почему я не могу выбрать тег "Просрочен"?
    
    Некоторые теги могут использоваться только сервером и выставляются автоматически. Но при выборке фильтра, можно использовать такие теги.
    
    6. Кто такие "Наблюдатели" ?
    
    Наблюдатели это пользователи которые могут видеть вашу заявку в режиме чтения. При этом они не получают никаких уведомлении.
    
    7. Как решать какой приоритет выставлять задаче ?
    
    В подавляющем большинстве, приоритет предполагается "Обычный". "Средний" существует для того, что бы исполнитель выбрал заявку на
    исполнение среди всех "Обычных" заявок. Высокий аналогично, что "Средний", но заявка будет исполнятся первой, среди всех заявок которые
    имеются в данный момент на исполнении. "Срочный" предполагает , что заявку исполнитель должен выполнить немедленно, при получении уведомления
    т.е. речь идет о сроках которые оцениваются минутами или 1-2 часами, с момента получения уведомления.
     
    
    
</div>
