<form class="form" *ngIf="isReady">
    <div class="content-actions">
        <nb-toolbar [actions]="actions" (action)="onAction($event)"></nb-toolbar>
    </div>
    <header class="content-header">
        <div class="doc-head">
            <div class="doc-head__row">
                <div class="doc-head__row_item">
                    <div class="doc-head__title">{{'incoming' | translate}}</div>
                </div>
                <div class="doc-head__row_item" *ngIf="model.regNumber">
                    <div class="doc-head__reg-number">{{model.regNumber}}</div>
                </div>
            </div>
            <div class="doc-head__row">
                <input *ngIf="isEditable" class="doc-head__input" [class.invalid]="errors.title"
                    autocomplete="off" required name="title" maxlength="140" placeholder="{{'title' | translate}}"
                    [(ngModel)]="model.title">
                <div *ngIf="!isEditable" class="doc-head__input">{{model.title}}</div>
            </div>
        </div>
    </header>
    <section class="content-body">
        <tabs>
            <tab tabTitle="{{'properties' | translate}}">
                <div class="fieldset">
                    <div class="form-group">
                        <div class="control-label">
                            {{'sender' | translate}}
                        </div>
                        <div class="controls" [class.has-error]="errors.sender">
                            <nb-select class="span8" name="sender" [url]="STAFF_URL.API_ORGANIZATIONS" [disabled]="!isEditable"
                                [searchable]="true" [(ngModel)]="model.sender"></nb-select>
                            <error-message [error]="errors.sender"></error-message>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label">
                            {{'addressee' | translate}}
                        </div>
                        <div class="controls" [class.has-error]="errors.addressee">
                            <nb-select class="span8" name="addressee" [url]="STAFF_URL.API_EMPLOYEES" [disabled]="!isEditable"
                                [searchable]="true" [(ngModel)]="model.addressee"></nb-select>
                            <error-message [error]="errors.addressee"></error-message>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label">
                            {{'sender_reg_number' | translate}}
                        </div>
                        <div class="controls" [class.has-error]="errors.senderRegNumber">
                            <input class="span4" name="senderRegNumber" autocomplete="off" [readonly]="!isEditable"
                                [(ngModel)]="model.senderRegNumber">
                            <error-message [error]="errors.senderRegNumber"></error-message>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label">
                            {{'sender_applied_reg_date' | translate}}
                        </div>
                        <div class="controls" [class.has-error]="errors.senderAppliedRegDate">
                            <div class="span2" *ngIf="!isEditable">
                                <span class="input">{{model.senderAppliedRegDate}}</span>
                            </div>
                            <div class="span2" *ngIf="isEditable">
                                <input datepicker class="span2" name="senderAppliedRegDate" [(ngModel)]="model.senderAppliedRegDate">
                            </div>
                            <error-message [error]="errors.senderAppliedRegDate"></error-message>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label">
                            {{'doc_language' | translate}}
                        </div>
                        <div class="controls" [class.has-error]="errors.docLanguage">
                            <nb-select class="span4" name="docLanguage" [url]="REFERENCE_URL.API_DOCUMENT_LANGUAGES"
                                [disabled]="!isEditable" [searchable]="true" [(ngModel)]="model.docLanguage"></nb-select>
                            <error-message [error]="errors.docLanguage"></error-message>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label">
                            {{'doc_type' | translate}}
                        </div>
                        <div class="controls" [class.has-error]="errors.docType">
                            <nb-select class="span8" name="docType" [url]="REFERENCE_URL.API_DOCUMENT_TYPES"
                                [disabled]="!isEditable" [searchable]="true" [(ngModel)]="model.docType"></nb-select>
                            <error-message [error]="errors.docType"></error-message>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label">
                            {{'doc_subject' | translate}}
                        </div>
                        <div class="controls" [class.has-error]="errors.docSubject">
                            <nb-select class="span8" name="docSubject" [url]="REFERENCE_URL.API_DOCUMENT_SUBJECTS"
                                [disabled]="!isEditable" [searchable]="true" [(ngModel)]="model.docSubject"></nb-select>
                            <error-message [error]="errors.docSubject"></error-message>
                        </div>
                    </div>
                    <div class="form-group vertical-md" [class.has-error]="errors.body">
                        <div class="control-label">
                            {{'body' | translate}}
                        </div>
                        <div class="controls">
                            <markdown-editor writeLabel="{{'markdown_write' | translate}}" previewLabel="{{'markdown_preview' | translate}}"
                                [markdown]="model.body" [editable]="isEditable" [updateTimeout]="300"
                                (update)="model.body = $event"></markdown-editor>
                            <error-message [error]="errors.body"></error-message>
                            <nb-text-translate [text]="model.body"></nb-text-translate>
                        </div>
                    </div>
                </div>
            </tab>
            <tab tabTitle="{{'attachments' | translate}}" icon="fa fa-paperclip">
                <nb-attachments [model]="model" [calcHash]="true" [fsId]="fsId" [editable]="isEditable"></nb-attachments>
            </tab>
            <tab tabTitle="{{'related_assignments' | translate}}" icon="fa fa-align-left" *ngIf="!isNew">
                <wf-document-hierarchy [model]="model" [disabledIds]="[model.id]"></wf-document-hierarchy>
            </tab>
            <tab tabTitle="{{'observers' | translate}}" icon="fa fa-eye">
                <div class="fieldset">
                    <div class="form-group">
                        <div class="control-label">
                            {{'observers' | translate}}
                        </div>
                        <div class="controls" [class.has-error]="errors.observers">
                            <nb-observers-input [model]="model" [disabled]="!isEditable"></nb-observers-input>
                            <error-message [error]="errors.observers"></error-message>
                        </div>
                    </div>
                </div>
            </tab>
            <tab tabTitle="{{'acl_tab_title' | translate}}" icon="fa fa-share-alt" *ngIf="acl">
                <nb-acl [acl]="acl"></nb-acl>
            </tab>
        </tabs>
    </section>
    <footer class="content-footer">
        <div class="record-author" *ngIf="model.author">
            <span>{{'author' | translate}}</span>
            <span>{{model.author.name}}</span>
            <span>{{model.regDate}}</span>
        </div>
    </footer>
</form>
