<div
	style="border: 1px solid #f1f1f1; margin: 0; max-width: 700px; padding: 8px; width: 100%;">
	Ние сме сдружение с нестопанска цел на професионалистите на
		компютърните технологии, които са се обединили, за да се реши с общите
		предизвикателства. Нашият екип се състои от специалисти в различни
		области и нива на компетентност. Има нещо, което ни обединява и ни
		кара да се създадат инструменти, готови решения или просто да генерира
		идеи - Това желание да се направи разработка по-лесно, по-лесно да се
		разбере, програмиране чрез опростяване на инструментите и инструменти
		за развитие, ограничаване на броя на използваните технологии, като в
		същото време фокусира върху разбирането, ефективност и бързина на
		развитие.
</div>