<div style="border: 1px solid #f1f1f1; margin: 0; max-width: 900px; padding: 8px; width: 100%;">
    <h2 style="background-color: #f8f8f8; padding: 8px; margin: 0;">$orgname$</h2>
    <p>Caro $user$ as tarefas preparadas para verificação</p>
    <table style='border-collapse:collapse; margin:1px 0; width:100%' cellpadding = 10px>
        <tr style="text-align: center">
            <td style = 'border:1px solid #cdcdcd; width:60px;'><b>Number</b></td>
            <td style = 'border:1px solid #cdcdcd; width:120px;'><b>Assignee</b></td>
            <td style = 'border:1px solid #cdcdcd; width:120px;'><b>Project</b></td>
            <td style = 'border:1px solid #cdcdcd; width:180px;'><b>Title</b></td>
        </tr>
        $tasks:{ tasks |
        <tr style="text-align: center">
            <td style = 'border:1px solid #cdcdcd;  padding: 10px;'>
                $tasks.regNumber$
            </td>
            <td style = 'border:1px solid #cdcdcd;  padding: 10px;'>
                $tasks.assignee$
            </td>
            <td style = 'border:1px solid #cdcdcd;  padding: 10px;'>
                <a href="$url$$tasks.project.URL$$lang$">$tasks.project.title$</a>
            </td>
            <td style = 'border:1px solid #cdcdcd;  padding: 10px;'>
                <a href="$url$$tasks.url$$lang$">$tasks.title$</a>
            </td>
        </tr>
        }$
    </table>
</div>
