<div style="border: 1px solid #f1f1f1; margin: 0; max-width: 900px; padding: 8px; width: 100%;">
    <style>
        .Open{
            background: #dfe0ff;
            color: #00f;
        }

        .Pending{
            background: #ff9800;
            border-color: #cc7900;
            color: #fff;
        }

        .Canceled{
            background: #ffe9e9;
            color: #ff0018;
        }

        .Processing{
            background: #ffeb3b;
            border-color: #f1d800;
            color: #444;
        }

        .Completed{
            background: #b6de88;
            color: #135804;
        }
    </style>
    <h2 style="background-color: #f8f8f8; padding: 8px; margin: 0;">$orgname$</h2>
    <p>Encontro: <b>$currentDate$</b></p>
    <p>Total de tarefas : $tasksCount$</p>
    <p>Caro  $user$ as seguintes tarefas estão marcadas como vencidas:</p>
    <table style='border-collapse:collapse; margin:1px 0; width:100%' cellpadding = 10px>
        <tr style="text-align: center">
            <td style = 'border:1px solid #cdcdcd; width:60px;'><b>Número</b></td>
            <td style = 'border:1px solid #cdcdcd; width:120px;'><b>Status</b></td>
            <td style = 'border:1px solid #cdcdcd; width:120px;'><b>Autor</b></td>
            <td style = 'border:1px solid #cdcdcd; width:120px;'><b>Responsável</b></td>
            <td style = 'border:1px solid #cdcdcd; width:120px;'><b>Projeto</b></td>
            <td style = 'border:1px solid #cdcdcd; width:180px;'><b>Título</b></td>
        </tr>
        $tasks:{ tasks |
        <tr style="text-align: center">
            <td style = 'border:1px solid #cdcdcd;  padding: 10px;'>
                $tasks.regNumber$
            </td>
            <td style = 'border:1px solid #cdcdcd;  padding: 3px; line-height:100%'>
                <div class='$tasks.status$' style="padding: 3px 10%; width:80%">
                    $tasks.status$
                </div>
            </td>
            <td style = 'border:1px solid #cdcdcd;  padding: 10px;'>
                $tasks.author$
            </td>
            <td style = 'border:1px solid #cdcdcd;  padding: 10px;'>
                $tasks.assignee$
            </td>
            <td style = 'border:1px solid #cdcdcd;  padding: 10px;'>
                <a href="$url$$tasks.project.URL$$lang$">$tasks.project.title$</a>
            </td>
            <td style = 'border:1px solid #cdcdcd;  padding: 10px;'>
                <a href="$url$$tasks.url$$lang$">$tasks.title$</a>
            </td>
        </tr>
        }$
    </table>
</div>
