<div
	style="border: 1px solid #f1f1f1; margin: 0; max-width: 700px; padding: 8px; width: 100%;">
	Our training center prepares programmers to become experts in the field of B2B architecture and processes.
These courses allow you to get an overview of the technologies and trends in the field of enterprise development, always within the realm of the NextBase framework. 
The Training Center assumes the presence of a certain level of JAVA programming skills, to provide training as efficiently as possible.
</div>
