<div
	style="border: 1px solid #f1f1f1; margin: 0; max-width: 700px; padding: 8px; width: 100%;">

	Наш обучающий центр подготавливает специалистов-программистов которые
	будут понимать особенности программирования в области B2B решений,
	это является нашей основной целью, вместе с тем эти курсы позволят
	вам получить общее представление о технологиях и тенденциях в области разработки,
	которое базируется на мнении специалистов нашей команды. Обучающий центр предполагает
	наличие определенного уровня знаний компьютерной грамотности, чтобы провести обучение
	максимально эффективно.
</div>