<div class="form-group" [class.has-error]="errors['controlType']">
    <div class="control-label">
        {{'control_type' | translate}}
    </div>
    <div class="controls">
        <nb-select class="span4" name="controlType" [url]="REFERENCE_URL.API_CONTROL_TYPES" [disabled]="!editable" [searchable]="true"
            [(ngModel)]="model.controlType"></nb-select>
        <error-message [error]="errors['controlType']"></error-message>
    </div>
</div>
<div class="form-group" [class.has-error]="errors['startDate']">
    <div class="control-label">
        {{'start_date' | translate}}
    </div>
    <div class="controls">
        <input datepicker class="span2" name="startDate" [disabled]="!editable" [(ngModel)]="model.startDate" (ngModelChange)="change.emit('startDate')">
        <error-message [error]="errors['startDate']"></error-message>
    </div>
</div>
<div class="form-group" [class.has-error]="errors['dueDate']">
    <div class="control-label">
        {{'due_date' | translate}}
    </div>
    <div class="controls">
        <input datepicker class="span2" name="dueDate" [disabled]="!editable" [(ngModel)]="model.dueDate" (ngModelChange)="change.emit('dueDate')">
        <error-message [error]="errors['dueDate']"></error-message>
    </div>
</div>
<div class="form-group">
    <div class="control-label">
        {{'tags' | translate}}
    </div>
    <div class="controls" [class.has-error]="errors.tags">
        <nb-select class="span8 tags-input" name="model.tags" [disabled]="!editable" [searchable]="true" [allowClear]="true" [multiple]="true"
            classKey="tag" [styler]="tagStylerFn" [url]="REFERENCE_URL.API_TAGS + '?hidden=false'" [(ngModel)]="model.tags">
        </nb-select>
        <error-message [error]="errors.tags"></error-message>
    </div>
</div>
<div class="form-group vertical-md" [class.has-error]="errors['assigneeEntries']">
    <div class="control-label">
        {{'assignee_user' | translate}}
    </div>
    <div class="controls">
        <nb-toolbar *ngIf="editable || permissions" [mouseEvent]="false" [actions]="assigneeActions" (action)="onAction($event)"></nb-toolbar>
        <nb-grid hover="row" *ngIf="model.assigneeEntries && model.assigneeEntries.length">
            <nb-grid-head>
                <nb-grid-cols class="vw-30">
                    <nb-grid-col class="vw-10 row-checkbox" *ngIf="editable || permissions"></nb-grid-col>
                    <nb-grid-col class="vw-90">{{'assignee_user' | translate}}</nb-grid-col>
                </nb-grid-cols>
                <nb-grid-cols class="vw-10">
                    <nb-grid-col>{{'status' | translate}}</nb-grid-col>
                </nb-grid-cols>
                <nb-grid-cols class="vw-40">
                    <nb-grid-col class="vw-65">{{'assignee_reset_by' | translate}}</nb-grid-col>
                    <nb-grid-col class="vw-35">{{'assignee_reset_time' | translate}}</nb-grid-col>
                </nb-grid-cols>
                <nb-grid-cols class="vw-20">
                    <nb-grid-col>{{'additional_info' | translate}}</nb-grid-col>
                </nb-grid-cols>
            </nb-grid-head>
            <nb-grid-row class="cursor-pointer" (click)="editAssigneeEntry(ae)" *ngFor="let ae of model.assigneeEntries">
                <nb-grid-cols class="vw-30">
                    <nb-grid-col class="vw-10 row-checkbox" *ngIf="editable || permissions">
                        <label *ngIf="!ae.resetBy" class="row-checkbox-label" (click)="$event.stopPropagation()">
                            <input type="checkbox" [checked]="selectedIds.indexOf(ae.assignee ? ae.assignee.id : -1) !== -1" (change)="onToggleSelected(ae)">
                        </label>
                    </nb-grid-col>
                    <nb-grid-col class="vw-90">
                        <div class="control-assignee-name">
                            {{ae.assignee.name}}
                            <span class="label-assignee-is-coordinator" *ngIf="ae.coordinator">{{'assignee_is_coordinator' | translate}}</span>
                        </div>
                    </nb-grid-col>
                </nb-grid-cols>
                <nb-grid-cols class="vw-10">
                    <nb-grid-col>
                        <div>{{ae.status | lowercase | translate}}</div>
                    </nb-grid-col>
                </nb-grid-cols>
                <nb-grid-cols class="vw-40">
                    <nb-grid-col class="vw-65">
                        <div class="control-assignee-reset-by" [class.text-muted]="!ae.resetBy">{{ae.resetBy ? ae.resetBy.name : '-'}}</div>
                    </nb-grid-col>
                    <nb-grid-col class="vw-35">
                        <time class="control-assignee-reset-time" [class.text-muted]="!ae.resetTime">{{ae.resetTime || '-'}}</time>
                    </nb-grid-col>
                </nb-grid-cols>
                <nb-grid-cols class="vw-20">
                    <nb-grid-col>
                        <div class="control-assignee-add-info" [class.text-muted]="!ae.resetInfo">{{ae.resetInfo || '-'}}</div>
                    </nb-grid-col>
                </nb-grid-cols>
            </nb-grid-row>
        </nb-grid>
        <error-message [error]="errors['assigneeEntries']"></error-message>
    </div>
</div>
<wf-control-assignee-modal-form *ngIf="openEditModal && editedAssigneeEntry" [model]="editedAssigneeEntry" [editable]="editable"
    (cancel)="openEditModal = false" (confirm)="saveEditedAssigneeEntry($event)"></wf-control-assignee-modal-form>
