<div class="nb-modal-container" [class.is-editable]="editable">
    <div class="nb-modal span9">
        <div class="nb-modal__header">
            {{'assignee_user' | translate}}
        </div>
        <button class="nb-modal__dismiss_button" (click)="cancel.emit()">×</button>
        <div class="nb-modal__body">
            <section class="fieldset">
                <div class="form-group" *ngIf="assigneeEntry.status">
                    <div class="control-label">{{'status' | translate}}</div>
                    <div class="controls">
                        <div class="input-placeholder">{{assigneeEntry.status | lowercase | translate}}</div>
                    </div>
                </div>
                <div class="form-group vertical-md">
                    <div class="control-label">
                        {{'assignee_user' | translate}}
                    </div>
                    <div class="controls">
                        <nb-select name="assigneeEntry.assignee" [url]="STAFF_URL.API_EMPLOYEES" [disabled]="!editable" [searchable]="true" [(ngModel)]="assigneeEntry.assignee"></nb-select>
                    </div>
                </div>
                <div class="form-group vertical-md">
                    <div class="control-label"></div>
                    <div class="controls">
                        <label class="input">
                            <input type="checkbox" name="coordinator" value="true" [(ngModel)]="assigneeEntry.coordinator" [disabled]="!editable">
                            <span>{{'assignee_is_coordinator' | translate}}</span>
                        </label>
                    </div>
                </div>
                <div class="form-group" *ngIf="assigneeEntry.resetBy">
                    <div class="control-label">{{'assignee_reset_by' | translate}}</div>
                    <div class="controls">
                        <div class="input-placeholder">{{assigneeEntry.resetBy.name}}</div>
                    </div>
                </div>
                <div class="form-group" *ngIf="assigneeEntry.resetTime">
                    <div class="control-label">{{'assignee_reset_time' | translate}}</div>
                    <div class="controls">
                        <div class="input-placeholder">{{assigneeEntry.resetTime}}</div>
                    </div>
                </div>
                <div class="form-group vertical-md form-group-last" *ngIf="assigneeEntry.resetInfo">
                    <div class="control-label">{{'additional_info' | translate}}</div>
                    <div class="controls">
                        <div class="input-placeholder">{{assigneeEntry.resetInfo}}</div>
                    </div>
                </div>
            </section>
        </div>
        <div class="nb-modal__footer">
            <div class="nb-modal__buttons">
                <div class="nb-modal__buttons_group left">
                    <button type="button" class="btn nb-modal__button" (click)="cancel.emit()">
                        <span class="btn-text">{{(editable ? 'cancel' : 'close') | translate}}</span>
                    </button>
                </div>
                <div class="nb-modal__buttons_group right" *ngIf="editable">
                    <button type="button" class="btn nb-modal__button btn-primary" [disabled]="!assigneeEntry.assignee" (click)="confirm.emit(assigneeEntry)">
                        <span class="btn-text">{{(assigneeEntry.isNew ? 'add' : 'ok') | translate}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
