<div
	style="border: 1px solid #f1f1f1; margin: 0; max-width: 700px; padding: 8px; width: 100%;">

	Мы являемся группой специалистов компьютерных технологий,
	которые объединились в целях решения общих задач.
	Наша команда состоит из профессионалов разного профиля и уровня компетенции.
	Есть нечто, что объединяет нас и заставляет нас создавать инструменты,
	готовые решения или просто генерировать идеи - Это желание сделать разработку легче,
	упростить понимание программирования путем упрощения инструментов и средств разработки,
	ограничения количества используемых технологий, при этом делая упор на простоту понимания,
	эффективность и скорость разработки.
</div>