.attachments {
    align-items: flex-start;
    border-bottom: 1px dotted #ccc;
    border-top: 1px dotted #ccc;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.attachments > .fa-paperclip {
    padding: 7px;
}

.attachment-list {
    padding: 0;
}

.attachment-list__item {
    display: inline-block;
    margin: 2px;
    padding: 4px 6px;
    vertical-align: top;
}

.attachment__link {
    padding: 4px 6px;
}

.attachment {
    display: inline-block;
    max-height: 160px;
    max-width: 160px;
    vertical-align: top;
}
