.comments-wrap {
    background: white;
    display: block;
    /*height: 100%;*/
    margin: 0;
    padding: 0;
    position: relative;
}

/* .comments */
.comments {
    padding: 4px;
    width: 100%;
}

/* .comment */
.comment {
    display: block;
    margin: 0;
    padding: 6px 4px 6px 48px;
    position: relative;
}

.comment:hover {
    background: #f5f5f5;
}

.comment__avatar {
    border: 1px solid #aaa;
    border-radius: 50%;
    display: inline-block;
    height: 36px;
    margin-left: -40px;
    position: absolute;
    vertical-align: top;
    width: 36px;
}

.comment__details {
    display: inline-block;
    max-width: 100%;
    padding-left: 4px;
    vertical-align: top;
    width: 100%;
}

.comment__editor,
.comment__text {
    display: block;
    margin: 0;
    padding: 4px;
}

.comment__editor textarea {
    display: block;
    margin-bottom: 4px;
    width: 100%;
}

.comment__editor button {}

.comment__author {
    color: #666;
    font-weight: bold;
}

.comment__time {
    color: #888;
}

.comment__buttons {
    display: none;
    position: absolute;
    right: 4px;
    top: 4px;
}

.comment:hover .comment__buttons {
    display: block;
}

/* .comment-composer */
.comment-composer {
    background: white;
    bottom: 0;
    display: block;
    padding: 4px;
    width: 100%;
}

.comment-editor {
    min-height: 30px;
    position: relative;
    width: 100%;
}

.comment-composer.edit .comment-editor {
    /*box-shadow: 0 0 3px red;*/
}

.comment-composer .btn-add-comment {
    margin: 4px 0 0;
    position: relative;
}
