.comments-wrap {
    background: white;
    display: block;
    /*height: 100%;*/
    margin: 0;
    padding: 0;
    position: relative;
}

/* .comments */
.comments {
    padding: 4px;
    width: 100%;
}

.comment-wrap {
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 8px;
}

.comment-text {
    margin: 0;
    padding: 2px;
}

.comment-author {
    color: #666;
}

.comment-time {
    color: #888;
}

/* .comment-composer */
.comment-composer {
    background: white;
    bottom: 0;
    display: block;
    height: 40px;
    overflow: hidden;
    padding: 4px;
    /*position: absolute;*/
    width: 100%;
}

.comment-composer.edit {
    height: auto;
}

.comment-editor {
    /*border: 0;*/
    /*height: 100%;*/
    min-height: 30px;
    /*padding-right: 80px;*/
    position: relative;
    width: 100%;
    z-index: 1;
}

.comment-composer.edit .comment-editor {
    /*box-shadow: 0 0 3px red;*/
}

.comment-composer .buttons {
    display: none;
    position: relative;
    right: 0;
    width: 80px;
    z-index: 2;
}

.comment-composer.edit .buttons {
    display: block;
}
