.dashboard {
    border: 1px solid #f0f0f0;
    display: inline-block;
    margin: 1em;
    min-height: 200px;
    min-width: 200px;
    padding: 0;
}

.dashboard header {
    padding: .5em;
}

.dashboard section {
    padding: .5em;
}
