/* URGENT, HIGH, MEDIUM, NORMAL */

.priority-high,
.priority-medium,
.priority-normal,
.priority-urgent {
    display: inline-block;
    border-radius: 2px;
    padding: 2px 3px;
}

.priority-urgent {
    background: #ffe2e0;
    color: red;
}

.priority-high {
    background: #FFC107;
    color: #444;
}

.priority-medium {
    background: #d0d7ff;
    color: #0800ff;
}

.priority-normal {
    background: transparent;
}
