.request-status-unknown {
    display: none;
}

.request-status-accepted {
    color: green;
}

.request-status-declined {
    color: red;
}


/* .request */

.request {
    border-bottom: 1px solid #f5f5f5;
    display: flex;
    overflow: hidden;
    position: relative;
}

.request__header {
    display: block;
    width: 20%;
}

.request__type {
    min-width: 120px;
}

.request__comment {
    max-width: 60%;
}

.request__time {
    color: #888;
}

.request__attachments .attachments .attachment-list {
    display: inline;
}

.request__resolution_time {
    color: #666;
}

.request__resolution .accepted,
.request__resolution .accepted .fa {
    color: green;
}

.request__resolution .declined,
.request__resolution .declined .fa {
    color: red;
}

.request-resolution.accepted,
.request-resolution.accepted .fa {
    color: green;
    font-size: 13px;
}

.request-resolution.declined,
.request-resolution.declined .fa {
    color: red;
    font-size: 13px;
}

.request__resol {
    border-top: 1px solid rgb(235, 235, 235);
    padding-top: 8px;
}

.request__buttons {
    display: inline-block;
    max-width: 866px;
    text-align: right;
    width: 100%;
}
