/* .rt-editor */
.rt-editor {
    margin: 0;
    min-height: 34px;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.rt-editor.edit {
    background: #fff;
}

.rt-editor__area {
    background: transparent;
    /*border: 1px solid transparent;
    border-top: 1px solid transparent;*/
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    box-sizing: border-box;
    color: #000;
    display: block;
    font-size: 1em;
    max-width: 100%;
    min-height: inherit;
    outline: 0;
    padding: 7px;
    position: relative;
    vertical-align: middle;
    width: 100%;
}

.rt-editor.edit .rt-editor__area {
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    border-top: 1px solid silver;
}

.rt-editor.edit .rt-editor__area:hover {
    border-color: #888;
}

.rt-editor.edit .rt-editor__area:focus {
    border-color: #4d90fe;
    box-shadow: 0 0 1px rgba(39,128,248,.196);
}

.rt-editor__placeholder {
    color: #888;
    left: 0;
    padding: 7px;
    position: absolute;
    top: 0;
}
