/* UNKNOWN, DRAFT, WAITING, @Deprecated PROCESSED, @Deprecated FINISHED, PROCESSING, COMPLETED, CANCELLED, OPEN, PENDING; */


/*
Open = Blue
Processing = Yellow
Completed = Green
Cancelled = Red
Pending = Orange
*/

.status-active,
.status-cancelled,
.status-completed,
.status-draft,
.status-open,
.status-pending,
.status-processing,
.status-waiting {
    display: inline-block;
    border-radius: 2px;
    padding: 2px 3px;
}

.status-draft {
    background: #f5f5f5;
}

.status-open {
    background: #ecedff;
    color: blue;
}

.status-active {
    background: #FFEB3B;
    color: #444444;
}

.status-processing {
    background: #FFEB3B;
    color: #444444;
}

.status-waiting {
    background: #c5c9ff;
    color: #000;
}

.status-completed {
    background: #8BC34A;
    color: #ffffff;
}

.status-cancelled {
    background: #fd918a;
    color: #fff;
}

.status-pending {
    background: #FF9800;
    color: #fff;
}


/* */

.vp__list_it_col.status-col-mobile {
    border: 0;
    max-width: 6px;
    min-width: 6px;
    width: 6px;
}

.status-col-mobile,
.status-col-mobile .vp__list_it_val_wrap {
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
}

.status-col-mobile .vp__list_it_val_text {
    border-radius: 2px;
    height: 80%;
    position: absolute;
    text-indent: 50px;
    top: 10%;
    left: 0;
    width: 4px;
}

.status-bg-draft {
    background: #f5f5f5;
}

.status-bg-open {
    background: #cee3ff;
}

.status-bg-active {
    background: #FFEB3B;
}

.status-bg-processing {
    background: #FFEB3B;
}

.status-bg-waiting {
    background: #b4baff;
}

.status-bg-completed {
    background: #8BC34A;
}

.status-bg-cancelled {
    background: #fd918a;
}

.status-bg-pending {
    background: #FF9800;
}
