/* UNKNOWN, DRAFT, WAITING, @Deprecated PROCESSED, @Deprecated FINISHED, PROCESSING, COMPLETED, CANCELLED, OPEN, PENDING; */

/*
Open = Blue
Processing = Yellow
Completed = Green
Cancelled = Red
Pending = Orange
*/

.status-active,
.status-cancelled,
.status-completed,
.status-draft,
.status-open,
.status-pending,
.status-processing,
.status-waiting {
    display: inline-block;
    border-radius: 2px;
    padding: 1px 3px;
}

.status-draft {
    background: #f5f5f5;
}

.status-open {
    background: #ecedff;
    color: blue;
}

.status-active {
    background: #FFEB3B;
    color: #444444;
}

.status-processing {
    background: #FFEB3B;
    color: #444444;
}

.status-waiting {
    background: #03a9f4;
    color: #fff;
}

.status-completed {
    background: #8BC34A;
    color: #ffffff;
}

.status-cancelled {
    background: #fd918a;
    color: #fff;
}

.status-pending {
    background: #FF9800;
    color: #fff;
}
