/* .task-list */

.task-list {}

div.task-list__reg-number {
    padding-left: 20px;
    width: 160px;
}

div.task-list__title {
    width: 20%;
}

.task-list__status {
    width: 100px;
}

.task-list__priority {
    width: 100px;
}

.task-list__assignee {
    width: 10%;
}

.task-list__start_date {
    width: 130px;
}

.task-list__due_date {
    width: 130px;
}

.task-list__tags {
    width: 20%;
}

.task-list__tags .tag {
    padding: 0 4px;
}

/* .stream-level */

.stream-level {
    display: block;
    transition: max-height .15s;
}

.stream-level.close {
    max-height: 0;
    overflow: hidden;
}

.stream-level.open {
    max-height: 1000px;
}
