.task-cancel-dialog {
    background: #fff;
    border: 0;
    left: 50%;
    margin-left: -200px;
    position: fixed;
    top: 70px;
    width: 400px;
}

.task-cancel-dialog:before {
    background: rgba(0, 0, 0, 0.05);
    content: '';
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.dialog__container {
    background: #fff;
    padding: 10px;
    position: relative;
    z-index: 2;
}

.dialog__head {
    font-weight: bold;
}

.dialog__body {
    margin: 10px 0;
}

.dialog__footer {
    text-align: right;
}
