.task-header-title .task-status {
    font-size: .85em;
    line-height: 1.3;
    margin-left: 8px;
}

.parent-task-link {
    display: inline-block;
    font-size: 1.4rem;
    padding: 4px;
}

.record-author {
    color: #666;
    font-size: .9em;
    padding: 8px;
}

.record-author .input.employee-input {
    border: 0;
    display: inline;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.entry-fields span.input {
    background: transparent;
    border: 0;
    display: inline;
    margin: 0;
    padding: 0;
}

/* .task-tabs */
.task-tabs {
    border-bottom: 1px solid #e6e6e6;
    font-size: 0;
    padding: 0 8px;
    margin-top: 4px;
}

.task-tab__title {
    border-radius: 4px 4px 0 0;
    cursor: pointer;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0;
    padding: 10px;
}

.task-tab__title:not(.pinned):hover {
    background: #eee;
}

.task-tab__title:not(.pinned):active {
    background: #f5f5f5;
}

.task-tab__title.pinned {
    box-shadow: inset 0 -1px 0 #555;
    cursor: default;
}

.task-tab__title.active {
    background: #e6e6e6;
}

.task-tab {
    overflow: hidden;
    transition: max-height .15s;
}

.task-tab:not(.pinned) {
    display: none;
    /*max-height: 0;*/
}

.task-tab.active {
    /*border-bottom: 1px solid #ccc;
    box-shadow: inset 0 -1px 3px -1px rgba(0, 0, 0, 0.2);*/
    /*max-height: 600px;*/
    padding-bottom: 8px;
}

.task-tab.active,
.task-tab.pinned {
    display: block;
}
