/* .task-list */
.task-list {}

span.task-list__title {
    padding-left: 20px;
    width: 20%;
}

.task-list__status {
    width: 100px;
}

.task-list__priority {
    width: 100px;
}

.task-list__assignee {
    width: 10%;
}

.task-list__start_date {
    width: 130px;
}

.task-list__due_date {
    width: 130px;
}

.task-list__tags {
    width: 20%;
}

.task-list__tags .tag {
    padding: 0 4px;
}

.level-1 .level-indent {
    padding-left: 36px;
}

.level-1 .entry-expander {
    padding-left: 20px;
    width: 55px;
}

.level-2 .level-indent {
    padding-left: 48px;
}

.level-2 .entry-expander {
    padding-left: 28px;
    width: 65px;
}
