.filter-box .select__selected.tag {
    padding: 4px;
}

.filter-box .task-status-input .select__list-option {
    padding: .6em .6em .6em 1.8em;
}

@media ( min-width: 768px) {
    .filter-box .select__selected.tag {
        margin: -2px 1px -4px;
    }
    .filter-box .select__selected[class*='status-'] {
        margin: -6px 0;
    }
}
