.vw-tags .vp__list_it_val_text {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    display: inline-block;
}

.btn-toggle-view-mode {
    cursor: pointer;
    line-height: normal;
    margin: 1px;
    padding: 8px;
    vertical-align: top;
}
