<div class="content-header">
    <h1 class="header-title">
        {{title | translate}}
        <sup *ngIf="!loading && meta.count">({{meta.count}})</sup>
    </h1>
    <div class="content-actions">
        <button class="btn" type="button" (click)="newProject()">
            {{'new_project' | translate}}
        </button>
        <button class="btn btn-refresh" type="button" (click)="refresh()">
            <i class="fa fa-refresh"></i>
        </button>
        <pagination [totalPages]="meta.totalPages" [page]="meta.page" (change)="goToPage($event)"></pagination>
    </div>
</div>
<div class="content-body">
    <project-list [projects]="projects"></project-list>
</div>
<router-outlet></router-outlet>
