<form class="form" *ngIf="isReady">
    <header class="content-header">
        <div class="content-actions">
            <button class="btn-back" type="button" title="{{'close' | translate}}" (click)="close($event)">
                <i class="fa fa-chevron-left"></i>
                <span>{{'close' | translate}}</span>
            </button>
            <button class="btn btn-primary" type="button" *ngIf="isEditable" [disabled]="!isValid" (click)="saveProject()">
                {{'save_close' | translate}}
            </button>
            <div *ngIf="!isNew && isEditable" dropdown class="buttons" [tabIndex]="-1">
                <div dropdown-toggle>
                    <span class="btn">...</span>
                </div>
                <div class="dropdown-menu">
                    <ul class="menu">
                        <li>
                            <a class="menu-item" (click)="deleteProject()">{{'delete' | translate}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <h1 class="header-title header-title-flex">
            <label>{{title | translate}}</label>
            <input [class.invalid]="errors.name" autofocus placeholder="{{'name' | translate}}" [readonly]="!isEditable" (keyup)="validateForm()" [(ngModel)]="project.name" />
        </h1>
    </header>
    <section class="content-body">
        <div class="fieldset">
            <div class="form-group">
                <div class="control-label">
                    {{'customer' | translate}}
                </div>
                <div class="controls" [class.has-error]="errors.customerId">
                    <organization-input class="span8" [editable]="isEditable" [orgId]="project.customerId" (select)="setCustomer($event)"></organization-input>
                    <error-message [error]="errors.customerId"></error-message>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">
                    {{'manager' | translate}}
                </div>
                <div class="controls" [class.has-error]="errors.managerUserId">
                    <user-input class="span8" [editable]="isEditable" [userIds]="[project.managerUserId]" (select)="setManager($event)"></user-input>
                    <error-message [error]="errors.managerUserId"></error-message>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">
                    {{'programmer' | translate}}
                </div>
                <div class="controls" [class.has-error]="errors.programmerUserId">
                    <user-input class="span8" [editable]="isEditable" [userIds]="[project.programmerUserId]" (select)="setProgrammer($event)"></user-input>
                    <error-message [error]="errors.programmerUserId"></error-message>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">
                    {{'tester' | translate}}
                </div>
                <div class="controls" [class.has-error]="errors.testerUserId">
                    <user-input class="span8" [editable]="isEditable" [userIds]="[project.testerUserId]" (select)="setTester($event)"></user-input>
                    <error-message [error]="errors.testerUserId"></error-message>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">
                    {{'observers' | translate}}
                </div>
                <div class="controls" [class.has-error]="errors.observerUserIds">
                    <user-input class="span8" [editable]="isEditable" [multiple]="true" [userIds]="project.observerUserIds" (select)="setObserver($event)"></user-input>
                    <error-message [error]="errors.observerUserIds"></error-message>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">
                    {{'status' | translate}}
                </div>
                <div class="controls" [class.has-error]="errors.status">
                    <switch-button [disabled]="!isEditable" [model]="project" value="status" [items]="projectStatusTypes"></switch-button>
                    <error-message [error]="errors.status"></error-message>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">
                    {{'finish_date' | translate}}
                </div>
                <div class="controls" [class.has-error]="errors.finishDate">
                    <div class="span2" *ngIf="!isEditable">
                        <span class="input">{{project.finishDate}}</span>
                    </div>
                    <input class="span2" datepicker *ngIf="isEditable" (select)="setFinishDate($event)" [(ngModel)]="project.finishDate" ngControl="finishDate" />
                    <error-message [error]="errors.finishDate"></error-message>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">
                    {{'comment' | translate}}
                </div>
                <div class="controls" [class.has-error]="errors.comment">
                    <markdown-editor class="span8" [markdown]="project.comment || ''" [editable]="isEditable" updateTimeout="300" (update)="setProjectComment($event)"></markdown-editor>
                    <error-message [error]="errors.comment"></error-message>
                </div>
            </div>
        </div>
        <attachments [editable]="isEditable" [model]="project" (upload)="addAttachment($event)" (delete)="deleteAttachment($event)"></attachments>
    </section>
    <footer class="content-footer">
        <div class="record-author" *ngIf="project.authorId">
            <span>{{'author' | translate}}</span>
            <user-input [userIds]="[project.authorId]"></user-input>
            <time>{{project.regDate}}</time>
        </div>
    </footer>
</form>
