<div class="entry-wrap" [class.active]="selected">
    <div class="entry">
        <label class="entry-select">
            <input type="checkbox" name="project-id" value="{{project.id}}" (change)="toggleSelected()" [checked]="selected" />
        </label>
        <a class="entry-link" [routerLink]="['./', project.id]">
            <div class="entry-fields">
                <span class="vw-project-name">{{project.name}}</span>
                <span class="vw-project-status">{{project.status | text:'L' | translate}}</span>
                <span class="vw-icon">
                    <i class="fa fa-paperclip" *ngIf="project.hasAttachments"></i>
                </span>
                <span class="vw-project-customer">
                    <customer-cell [customerId]="project.customerId"></customer-cell>
                </span>
                <span class="vw-user-manager">
                    <user-cell [userId]="project.managerUserId"></user-cell>
                </span>
                <span class="vw-user-programmer">
                    <user-cell [userId]="project.programmerUserId"></user-cell>
                </span>
                <span class="vw-user-tester">
                    <user-cell [userId]="project.testerUserId"></user-cell>
                </span>
                <span class="vw-project-comment">{{project.comment}}</span>
                <span class="vw-date">{{project.finishDate | dateFmt}}</span>
            </div>
        </a>
    </div>
</div>
