<form class="form" [ngFormModel]="form" *ngIf="isReady">
    <header class="content-header">
        <button class="btn-back" type="button" (click)="close($event)">
            <i class="fa fa-chevron-left"></i>
        </button>
        <h1 class="header-title">
            {{(project.id ? 'project' : 'new_project') | translate}}
        </h1>
        <div class="content-actions">
            <button class="btn btn-primary" type="button" [disabled]="!form.valid" (click)="saveProject()">
                {{'save_close' | translate}}
            </button>
            <button class="btn" type="button" (click)="close($event)">
                {{'close' | translate}}
            </button>
            <div dropdown class="buttons">
                <div dropdown-toggle>
                    <span class="btn">...</span>
                </div>
                <div class="dropdown-menu">
                    <button class="btn" type="button" (click)="deleteProject()">
                        {{'delete' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </header>
    <section class="content-body">
        <fieldset class="fieldset">
            <div class="form-group">
                <div class="control-label">
                    {{'name' | translate}}
                </div>
                <div class="controls" [class.has-error]="!form.controls.name.valid">
                    <input class="span8" [(ngModel)]="project.name" ngControl="name" />
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">
                    {{'customer' | translate}}
                </div>
                <div class="controls" [class.has-error]="!form.controls.customerUserId.valid">
                    <div class="span8">
                        <customer-select [customerId]="project.customerId" (onSelect)="selectCustomer($event)"></customer-select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">
                    {{'manager' | translate}}
                </div>
                <div class="controls" [class.has-error]="!form.controls.managerUserId.valid">
                    <div class="span8">
                        <user-select [userId]="project.managerUserId" (onSelect)="selectManager($event)"></user-select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">
                    {{'programmer' | translate}}
                </div>
                <div class="controls" [class.has-error]="!form.controls.programmerUserId.valid">
                    <div class="span8">
                        <user-select [userId]="project.programmerUserId" (onSelect)="selectProgrammer($event)"></user-select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">
                    {{'tester' | translate}}
                </div>
                <div class="controls" [class.has-error]="!form.controls.testerUserId.valid">
                    <div class="span8">
                        <user-select [userId]="project.testerUserId" (onSelect)="selectTester($event)"></user-select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">
                    {{'observers' | translate}}
                </div>
                <div class="controls">
                    <div class="span8">
                        <user-select [userId]="project.observerUserIds" (onSelect)="selectObserver($event)"></user-select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">
                    {{'status' | translate}}
                </div>
                <div class="controls">
                    <switch-button [model]="project" value="status" [items]="projectStatusTypes"></switch-button>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">
                    {{'finish_date' | translate}}
                </div>
                <div class="controls">
                    <input class="span2" datepicker (select)="setFinishDate($event)" [(ngModel)]="project.finishDate" ngControl="finishDate" />
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">
                    {{'comment' | translate}}
                </div>
                <div class="controls" [class.has-error]="!form.controls.comment.valid">
                    <div class="span8">
                        <markdown-editor [markdown]="project.comment || ''" editable="true" updateTimeout="300" (update)="updateProjectComment($event)"></markdown-editor>
                    </div>
                </div>
            </div>
        </fieldset>
        <attachments [entity]="project" (upload)="addAttachment($event)" (delete)="deleteAttachment($event)"></attachments>
    </section>
</form>
