<form class="form" *ngIf="isReady">
    <header class="content-header">
        <div class="content-actions">
            <button class="btn-back" type="button" (click)="close($event)">
                <i class="fa fa-chevron-left"></i>
                <span>{{'close' | translate}}</span>
            </button>
            <button class="btn btn-primary" type="button" *ngIf="canSave" [disabled]="!isValid" (click)="save()">
                {{'save_close' | translate}}
            </button>
            <div *ngIf="canDelete" dropdown class="buttons" [tabIndex]="-1">
                <div dropdown-toggle>
                    <span class="btn">...</span>
                </div>
                <div class="dropdown-menu">
                    <ul class="menu">
                        <li>
                            <a class="menu-item" (click)="delete()">{{'delete' | translate}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <h1 class="header-title">
            <div class="header-title-inner">
                <label class="header-title-label">{{'outgoing' | translate}}</label>
                <div class="header-reg-number" *ngIf="outgoing.regNumber">{{outgoing.regNumber}}</div>
                <input [class.invalid]="errors.title"
                    name="title"
                    maxlength="140"
                    placeholder="{{'title' | translate}}"
                    [autofocus]="isEditable"
                    autocomplete="off"
                    required
                    (keyup)="validateForm()"
                    [(ngModel)]="outgoing.title"
                    *ngIf="isEditable" />
                <span *ngIf="!isEditable">{{outgoing.title}}</span>
            </div>
        </h1>
    </header>
    <section class="content-body">
        <tabs>
            <tab class="tab-pane" tabTitle="{{'properties' | translate}}">
                <div class="fieldset">
                    <div class="form-group">
                        <div class="control-label">
                            {{'recipient' | translate}}
                        </div>
                        <div class="controls" [class.has-error]="errors.recipient">
                            <selection
                                class="span8"
                                [selectedItems]="outgoing.recipient"
                                [url]="'/Staff/p?id=organization-view'"
                                [listPath]="'objects.1.list'"
                                [totalPagesPath]="'objects.1.meta.totalPages'"
                                [disabled]="!isEditable"
                                [searchable]="true"
                                (change)="setRecipient($event)">
                            </selection>
                            <error-message [error]="errors.priority"></error-message>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label">
                            {{'applied_reg_date' | translate}}
                        </div>
                        <div class="controls" [class.has-error]="errors.appliedRegDate">
                            <div class="span2" *ngIf="!isEditable">
                                <span class="input">{{outgoing.appliedRegDate}}</span>
                            </div>
                            <div class="span2" *ngIf="isEditable">
                                <input datepicker class="span2" name="appliedRegDate" (select)="setAppliedRegDate($event)" [(ngModel)]="outgoing.appliedRegDate" />
                            </div>
                            <error-message [error]="errors.appliedRegDate"></error-message>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label">
                            {{'doc_language' | translate}}
                        </div>
                        <div class="controls" [class.has-error]="errors.docLanguage">
                            <selection
                                class="span4"
                                [selectedItems]="outgoing.docLanguage"
                                [url]="'/Reference/p?id=documentlanguage-view'"
                                [listPath]="'objects.1.list'"
                                [totalPagesPath]="'objects.1.meta.totalPages'"
                                [disabled]="!isEditable"
                                [searchable]="true"
                                (change)="setDocLanguage($event)">
                            </selection>
                            <error-message [error]="errors.docLanguage"></error-message>
                        </div>
                    </div>
                        <div class="form-group">
                        <div class="control-label">
                            {{'doc_type' | translate}}
                        </div>
                        <div class="controls" [class.has-error]="errors.docType">
                            <selection
                                class="span8"
                                [selectedItems]="outgoing.docType"
                                [url]="'/Reference/p?id=documenttype-view'"
                                [listPath]="'objects.1.list'"
                                [totalPagesPath]="'objects.1.meta.totalPages'"
                                [disabled]="!isEditable"
                                [searchable]="true"
                                (change)="setDocType($event)">
                            </selection>
                            <error-message [error]="errors.docType"></error-message>
                        </div>
                    </div>
                    <div class="form-group" [class.has-error]="errors.body">
                        <div class="control-label">
                            {{'body' | translate}}
                        </div>
                        <div class="controls">
                            <markdown-editor
                                writeLabel="{{'markdown_write' | translate}}"
                                previewLabel="{{'markdown_preview' | translate}}"
                                [markdown]="outgoing.body || ''"
                                [editable]="isEditable"
                                [updateTimeout]="300"
                                (update)="setOutgoingBody($event)">
                            </markdown-editor>
                            <error-message [error]="errors.body"></error-message>
                        </div>
                    </div>
                </div>
                <attachments
                    [editable]="isEditable"
                    [model]="outgoing"
                    (upload)="addAttachment($event)"
                    (delete)="deleteAttachment($event)">
                </attachments>
            </tab>
            <tab class="tab-pane" tabTitle="{{'execution' | translate}}" icon="fa fa-align-left" *ngIf="hasExecution">
                <!--<tasks [tasks]="[outgoing]" [embedded]="true" [headerVisible]="false" [selectable]="false"></tasks>-->
            </tab>
            <tab class="tab-pane" tabTitle="{{'acl_tab_title' | translate}}" icon="fa fa-share-alt" *ngIf="outgoing.acl">
                <acl [acl]="outgoing.acl"></acl>
            </tab>
        </tabs>
    </section>
    <footer class="content-footer">
        <div class="record-author" *ngIf="outgoing.authorId">
            <span>{{'author' | translate}}</span>
            <!--<employee-input [ids]="[outgoing.authorId]"></employee-input>-->
            <span>{{outgoing.regDate}}</span>
        </div>
    </footer>
</form>
