<div class="content-header" *ngIf="headerVisible">
    <h1 class="header-title" *ngIf="titleVisible">
        {{title | translate}}
        <sup *ngIf="!loading && meta.count">({{meta.count}})</sup>
    </h1>
    <div class="content-actions" *ngIf="actionsVisible">
        <button class="btn" type="button" (click)="newProject()">
            {{'new_project' | translate}}
        </button>
        <button class="btn btn-refresh" type="button" (click)="refresh()">
            <i class="fa fa-refresh"></i>
        </button>
        <pagination [totalPages]="meta.totalPages" [page]="meta.page" (change)="goToPage($event)"></pagination>
    </div>
</div>
<div class="content-body">
    <div class="view project-list">
        <header class="entries-head" *ngIf="captionsVisible">
            <div class="head-wrap">
                <label class="entry-select" *ngIf="selectable">
                    <input type="checkbox" class="all" />
                </label>
                <div class="entry-captions">
                    <div class="vw-reg-number">
                        <sort-control name="regNumber" [active]="activeSort" (sort)="onSort($event)">
                            {{'reg_number' | translate}}
                        </sort-control>
                    </div>
                    <div class="vw-icon"><i class="fa fa-paperclip"></i></div>
                    <div class="vw-reg-date">
                        {{'applied_reg_date' | translate}}
                    </div>
                    <div class="vw-doc-language">
                        {{'doc_language' | translate}}
                    </div>
                    <div class="vw-doc-type">
                        {{'doc_type' | translate}}
                    </div>
                    <div class="vw-sender">
                        {{'sender' | translate}}
                    </div>
                    <div class="vw-reg-date">
                        {{'sender_applied_reg_date' | translate}}
                    </div>
                    <div class="vw-content">
                        {{'summary' | translate}}
                    </div>
                </div>
            </div>
        </header>
        <div class="entries">
            <div class="entry-wrap" *ngFor="let model of list">
                <div class="entry">
                    <label class="entry-select" *ngIf="selectable">
                        <input type="checkbox" name="docid" [value]="model.id" />
                    </label>
                    <a class="entry-link" [routerLink]="['/incoming-form']" [queryParams]="{ id: model.id }">
                        <div class="entry-fields">
                            <div class="vw-reg-number">
                                {{model.regNumber}}
                            </div>
                            <div class="vw-icon">
                                <i class="fa fa-paperclip" *ngIf="model.hasAttachments"></i>
                            </div>
                            <div class="vw-reg-date">
                                {{model.appliedRegdate}}
                            </div>
                            <div class="vw-doc-language">
                                {{model.docLanguage | localizedName:'name'}}
                            </div>
                            <div class="vw-doc-type">
                                {{model.docType | localizedName:'name'}}
                            </div>
                            <div class="vw-sender">
                                {{model.sender | localizedName:'name'}}
                            </div>
                            <div class="vw-reg-date">
                                {{model.senderAppliedRegDate}}
                            </div>
                            <div class="vw-content">
                                {{model.summary}}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
