.skills {
    background: #fff url(../img/skill-bg.png) no-repeat left bottom;
}

.skills .heading,
.skills .heading__sub {
    text-align: center;
}

.skills-features {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 3em 0 0;
    padding: 0;
    text-align: center;
}

.skills-features > .feature_box {
    display: block;
    margin: 1.5em 1em;
    min-width: 260px;
    width: calc(32% - 2em);
}

.skills-features .feature_box_header {
    font-weight: bold;
    margin-bottom: .5em;
}

.skills-features .feature_box_text {
    color: #444;
}

.skills-features .feature_box_header,
.skills-features .feature_box_text {
    display: block;
    text-align: center;
    width: 100%;
}

@media (max-width: 960px) {
    .skills-features .feature_box,
    .skills-features .feature_box_img,
    .skills-features .feature_box_text {
        width: 100%;
    }
}

.learning-center {}

.about {}
