.heading,
.heading__sub {
    font-family: Dosis, "Open Sans", "OpenSans", sans-serif;
    text-align: left;
}

.heading {
    color: #607d8b;
    font-size: 22px;
    font-weight: normal;
    line-height: 22px;
    position: relative;
    text-transform: uppercase;
}

.heading__sub {
    color: #444;
    font-size: 16px;
}

.heading + .heading__sub {
    color: #666;
}

@media (min-width: 768px) {
    .heading {
        font-size: 32px;
        line-height: 32px;
    }
    .heading + .heading__sub {
        color: #666;
    }
}
