body {
    font-family: "Open Sans", "OpenSans", sans-serif;
    font-size: 16px;
}

@media (min-width: 1200px) {
    body .container {
        width: 1024px;
    }
}

header {
    margin: 0;
    padding: 0;
}

footer {
    background: #F2F2F2;
    color: #666;
    padding: 40px 0;
    text-align: center;
}

.section {
    margin: 0;
    padding: 0;
    position: relative;
}

.section + .section {
    border-top: 1px solid #eee;
}

.section .container {
    padding-bottom: 80px;
    padding-top: 80px;
}

@media (max-width: 768px) {
    .section .container {
        padding-bottom: 40px;
        padding-top: 40px;
    }
}

@media (max-width: 1024px) {
    .section .container {
        width: 100%;
    }
}

a:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
    outline: 0;
}

a,
button {
    transition: all 0.4s;
}

img {
    max-height: 100%;
    max-width: 100%;
}
