<div class="content-header">
    <h1 class="header-title">
        <span>{{'dashboard' | translate}}</span>
        <a class="ml-auto" href="#" (click)="$event.preventDefault(); showReportModal = true">{{'reports' | translate}}</a>
    </h1>
</div>
<div class="content-body">
    <div class="count-status">
        <div class="count-status-item status-{{st.title | lowercase}}" *ngFor="let st of data.taskStatusStats">
            <h1>{{st.title | lowercase | translate}}</h1>
            <div>{{st.count}}</div>
        </div>
    </div>
    <div class="stat-chart" *ngIf="data.chart">
        <div class="stat-chart-filter">
            <div class="stat-chart-filter-inner">
                <div class="fieldset fieldset-grid flex-nowrap">
                    <div class="legend">
                        {{(data.isProjectSupervisor ? 'filter' : 'label_prj_dashboard_stat_assignee_state')
                        | translate}}
                    </div>
                    <ng-container *ngIf="data.isProjectSupervisor">
                        <div class="form-group flex-grow-0">
                            <div class="controls">
                                <div class="span4">
                                    <nb-select name="assignee" [allowClear]="true" [url]="STAFF_URL.API_EMPLOYEES" [searchable]="true"
                                        [placeholder]="'assignee_user' | translate" [(ngModel)]="filter.assignee"
                                        (ngModelChange)="load()"></nb-select>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <div class="form-group flex-grow-0 ml-auto">
                        <div class="controls">
                            <select [(ngModel)]="filter.periodType" (ngModelChange)="load()">
                                <option value="day">{{'day' | translate}}</option>
                                <option value="week">{{'week' | translate}}</option>
                                <option value="year">{{'year' | translate}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group flex-grow-0">
                        <div class="controls">
                            <div class="span2 position-relative">
                                <input datepicker name="fromDate" [placeholder]="'from_date' | translate" [maxDate]="filter.toDate"
                                    [(ngModel)]="filter.fromDate" (ngModelChange)="load()">
                                <button *ngIf="filter.fromDate" type="button" class="btn-clear-input" (click)="filter.fromDate = null;load()">&times;</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group flex-grow-0">
                        <div class="controls">
                            <div class="span2 position-relative">
                                <input datepicker name="toDate" [placeholder]="'to_date' | translate" [minDate]="filter.fromDate"
                                    [(ngModel)]="filter.toDate" (ngModelChange)="load()">
                                <button *ngIf="filter.toDate" type="button" class="btn-clear-input" (click)="filter.toDate = null;load()">&times;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="overflow:auto">
            <nb-chart style="margin:0 auto;min-height:360px;" [style.minWidth.px]="data.chart.data.labels.length * 16"
                [config]="data.chart"></nb-chart>
        </div>
    </div>
    <report-wizard *ngIf="showReportModal" (cancel)="showReportModal = false"></report-wizard>
</div>
