.count-status {
    margin: 16px 0;
    overflow: auto;
    padding: 0 5px;
    text-align: center;
    white-space: nowrap;
}

.count-status-item {
    border-radius: .25rem;
    margin: 10px 5px;
    padding: 10px 2%;
    text-align: center;
}

.count-status-item h1 {
    font-size: 1.2em;
    line-height: 1;
    margin: 0 0 4px;
    padding: 0;
}

.count-status-item div {
    font-size: 1.8em;
    order: -1;
}

/* .stat-chart */

.stat-chart {
    padding: 0;
}

.card.stat-card {
    border: 0;
    border-radius: 0;
}

.card-header.stat-card-header {
    border: 0;
    border-radius: 0;
}

.stat-chart nb-chart {
    padding: 16px;
}

.stat-chart-filter {
    background-color: rgba(0, 0, 0, 0.05);
}

.stat-chart-filter-inner {
    padding: 0 .5em;
}

.stat-chart-filter .fieldset.fieldset-grid {
    margin: 0;
}

.stat-chart-filter .fieldset.fieldset-grid:after {
    content: none;
}

.stat-chart-filter .fieldset.fieldset-grid > .legend {
    align-self: center;
    background: none;
    width: auto;
}

.stat-chart-filter .fieldset.fieldset-grid .form-group {
    border: 0;
    min-width: 80px;
    padding: 1em .75em;
}

.stat-chart-filter button.btn.btn-filter {
    margin-top: auto;
}

button.btn-clear-input {
    background: transparent;
    border: 0;
    bottom: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
}
