<form class="form" *ngIf="isReady">
    <header class="content-header">
        <div class="content-actions">
            <button class="btn-back" type="button" (click)="close($event)">
                <i class="fa fa-chevron-left"></i>
                <span>{{'close' | translate}}</span>
            </button>
            <button class="btn btn-primary" type="button" *ngIf="canSave" [disabled]="!isValid" (click)="save()">
                {{'save_close' | translate}}
            </button>
            <div *ngIf="canDelete" dropdown class="buttons" [tabIndex]="-1">
                <div dropdown-toggle>
                    <span class="btn">...</span>
                </div>
                <div class="dropdown-menu">
                    <ul class="menu">
                        <li>
                            <a class="menu-item" (click)="delete()">{{'delete' | translate}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <h1 class="header-title">
            <div class="header-title-inner">
                <label class="header-title-label">{{'incoming' | translate}}</label>
                <div class="header-reg-number" *ngIf="incoming.regNumber">{{incoming.regNumber}}</div>
                <input [class.invalid]="errors.title"
                    name="title"
                    maxlength="140"
                    placeholder="{{'title' | translate}}"
                    [autofocus]="isEditable"
                    autocomplete="off"
                    required
                    (keyup)="validateForm()"
                    [(ngModel)]="incoming.title"
                    *ngIf="isEditable" />
                <span *ngIf="!isEditable">{{incoming.title}}</span>
            </div>
        </h1>
    </header>
    <section class="content-body">
        <tabs>
            <tab class="tab-pane" tabTitle="{{'properties' | translate}}">
                <div class="fieldset">
                    <div class="form-group">
                        <div class="control-label">
                            {{'sender' | translate}}
                        </div>
                        <div class="controls" [class.has-error]="errors.sender">
                            <selection
                                class="span8"
                                [selectedItems]="incoming.sender"
                                [url]="'/Staff/p?id=organization-view'"
                                [listPath]="'objects.1.list'"
                                [totalPagesPath]="'objects.1.meta.totalPages'"
                                [disabled]="!isEditable"
                                [searchable]="true"
                                (change)="setSender($event)">
                            </selection>
                            <error-message [error]="errors.priority"></error-message>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label">
                            {{'sender_reg_number' | translate}}
                        </div>
                        <div class="controls" [class.has-error]="errors.senderRegNumber">
                            <input class="span4" name="senderRegNumber" autocomplete="off" [readonly]="!isEditable" (keyup)="validateForm()" [(ngModel)]="incoming.senderRegNumber" />
                            <error-message [error]="errors.senderRegNumber"></error-message>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label">
                            {{'sender_applied_reg_date' | translate}}
                        </div>
                        <div class="controls" [class.has-error]="errors.senderAppliedRegDate">
                            <div class="span2" *ngIf="!isEditable">
                                <span class="input">{{incoming.senderAppliedRegDate}}</span>
                            </div>
                            <div class="span2" *ngIf="isEditable">
                                <input datepicker class="span2" name="senderAppliedRegDate" (select)="setSenderAppliedRegDate($event)" [(ngModel)]="incoming.senderAppliedRegDate" />
                            </div>
                            <error-message [error]="errors.senderAppliedRegDate"></error-message>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label">
                            {{'doc_language' | translate}}
                        </div>
                        <div class="controls" [class.has-error]="errors.docLanguage">
                            <selection
                                class="span4"
                                [selectedItems]="incoming.docLanguage"
                                [url]="'/Reference/p?id=documentlanguage-view'"
                                [listPath]="'objects.1.list'"
                                [totalPagesPath]="'objects.1.meta.totalPages'"
                                [disabled]="!isEditable"
                                [searchable]="true"
                                (change)="setDocLanguage($event)">
                            </selection>
                            <error-message [error]="errors.docLanguage"></error-message>
                        </div>
                    </div>
                        <div class="form-group">
                        <div class="control-label">
                            {{'doc_type' | translate}}
                        </div>
                        <div class="controls" [class.has-error]="errors.docType">
                            <selection
                                class="span8"
                                [selectedItems]="incoming.docType"
                                [url]="'/Reference/p?id=documenttype-view'"
                                [listPath]="'objects.1.list'"
                                [totalPagesPath]="'objects.1.meta.totalPages'"
                                [disabled]="!isEditable"
                                [searchable]="true"
                                (change)="setDocType($event)">
                            </selection>
                            <error-message [error]="errors.docType"></error-message>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label">
                            {{'response_to' | translate}}
                        </div>
                        <div class="controls" [class.has-error]="errors.responseTo">
                            <selection
                                class="span8"
                                [selectedItems]="incoming.responseTo"
                                [url]="'/Workflow/api/outgoings?'"
                                textKey="regNumber"
                                descriptionKey="title"
                                [disabled]="!isEditable"
                                [searchable]="true"
                                (change)="setResponseTo($event)">
                            </selection>
                            <error-message [error]="errors.responseTo"></error-message>
                        </div>
                    </div>
                    <div class="form-group" [class.has-error]="errors.body">
                        <div class="control-label">
                            {{'body' | translate}}
                        </div>
                        <div class="controls">
                            <markdown-editor
                                writeLabel="{{'markdown_write' | translate}}"
                                previewLabel="{{'markdown_preview' | translate}}"
                                [markdown]="incoming.body || ''"
                                [editable]="isEditable"
                                [updateTimeout]="300"
                                (update)="setBody($event)">
                            </markdown-editor>
                            <error-message [error]="errors.body"></error-message>
                        </div>
                    </div>
                </div>
                <attachments
                    [editable]="isEditable"
                    [attachments]="incoming.attachments"
                    [fsId]="fsId"
                    (upload)="addAttachment($event)"
                    (delete)="deleteAttachment($event)">
                </attachments>
            </tab>
            <tab class="tab-pane" tabTitle="{{'execution' | translate}}" icon="fa fa-align-left" *ngIf="hasResponses">
                <!--<tasks [tasks]="[incoming]" [embedded]="true" [headerVisible]="false" [selectable]="false"></tasks>-->
            </tab>
            <tab class="tab-pane" tabTitle="{{'acl_tab_title' | translate}}" icon="fa fa-share-alt" *ngIf="incoming.acl">
                <acl [acl]="incoming.acl"></acl>
            </tab>
        </tabs>
    </section>
    <footer class="content-footer">
        <div class="record-author" *ngIf="incoming.authorId">
            <span>{{'author' | translate}}</span>
            <!--<employee-input [ids]="[incoming.authorId]"></employee-input>-->
            <span>{{incoming.regDate}}</span>
        </div>
    </footer>
</form>
