<div class="view task-list">
    <header class="entries-head" *ngIf="showHeader">
        <div class="head-wrap">
            <label class="entry-select" *ngIf="showSelect">
                <input type="checkbox" class="all" [checked]="isSelectedAll" (change)="toggleSelectAll()" />
            </label>
            <div class="entry-captions">
                <div class="task-list__title">{{'task_title' | translate}}</div>
                <div class="vw-icon"><i class="fa fa-paperclip"></i></div>
                <div class="task-list__status">{{'status' | translate}}</div>
                <div class="task-list__priority">{{'priority' | translate}}</div>
                <div class="task-list__assignee">{{'assignee_user' | translate}}</div>
                <div class="task-list__start_date">{{'start_date' | translate}}</div>
                <div class="task-list__due_date">{{'due_date' | translate}}</div>
                <div class="task-list__tags">{{'tags' | translate}}</div>
            </div>
        </div>
    </header>
    <div class="entries" [class.hidden]="loading">
        <div *ngFor="let task of tasks">
            <div class="entry-wrap">
                <div class="entry" [class.active]="isSelected(task.id)">
                    <label class="entry-select" *ngIf="showSelect">
                        <input type="checkbox" name="task-id" value="{{task.id}}" [checked]="isSelected(task.id)" (change)="toggleSelected(task.id)" />
                    </label>
                    <a class="entry-link" [routerLink]="['/task', task.id]">
                        <div class="entry-fields">
                            <div class="task-list__title expandable-level" [class.has-expandable]="task.hasSubtasks || task.hasRequests">
                                <div class="entry-expander" [class.is-expanded]="expandedIds.indexOf(task.id) != -1" (click)="toggleExpandable(task.id, $event)">
                                    <i class="entry-expander_icon fa"></i>
                                </div>
                                <span>{{task.title}}</span>
                            </div>
                            <div class="vw-icon">
                                <i class="fa fa-paperclip" *ngIf="task.hasAttachments"></i>
                            </div>
                            <div class="task-list__status">
                                <span class="status-{{task.status | text:'L'}}">{{task.status | text:'L' | translate}}</span>
                            </div>
                            <div class="task-list__priority">
                                <span class="priority-{{task.priority | text:'L'}}">{{task.priority | text:'L' | translate}}</span>
                            </div>
                            <div class="task-list__assignee">
                                <user-input [userIds]="[task.assigneeUserId]"></user-input>
                            </div>
                            <div class="task-list__start_date">{{task.startDate | dateFmt}}</div>
                            <div class="task-list__due_date">{{task.dueDate | dateFmt}}</div>
                            <div class="task-list__tags">
                                <tags-input [tagIds]="task.tagIds"></tags-input>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <task-stream [showSelect]="showSelect" [task]="task" (toggleStream)="onToggleStream($event)" (loadStreamLevel)="onLoadStreamLevel($event)"></task-stream>
        </div>
    </div>
</div>
