<form class="form" [ngFormModel]="form" *ngIf="isReady">
    <header class="content-header">
        <div class="content-actions">
            <button class="btn-back" type="button" title="{{'close' | translate}}" (click)="close($event)">
                <i class="fa fa-chevron-left"></i>
                <span>{{'close' | translate}}</span>
            </button>
            <button class="btn btn-primary" type="button" *ngIf="canSaveTask()" [disabled]="!form.valid" (click)="saveTask()">
                <span *ngIf="isNew">{{'send_task' | translate}}</span>
                <span *ngIf="!isNew">{{'save_close' | translate}}</span>
            </button>
            <button class="btn" type="button" *ngIf="canRequestAction()" (click)="newRequest($event)">
                {{'new_request' | translate}}
            </button>
            <button class="btn" type="button" *ngIf="canAddSubTask()" (click)="addSubtask($event)">
                {{'add_subtask' | translate}}
            </button>
            <button class="btn" type="button" *ngIf="canCompleteTask()" (click)="completeTask()">
                <span>{{'complete_task' | translate}}</span>
            </button>
            <div *ngIf="!isNew && isEditable" dropdown class="buttons" [tabIndex]="-1">
                <div dropdown-toggle>
                    <span class="btn">...</span>
                </div>
                <div class="dropdown-menu">
                    <ul class="menu">
                        <li>
                            <a class="menu-item" (click)="deleteTask()">{{'delete' | translate}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <h1 class="header-title task-header-title">
            <a *ngIf="parentTask" [routerLink]="['/task', parentTask.id]" class="parent-task-link">{{parentTask.title}}</a>
            <div class="header-title-flex">
                <label>
                    {{title | translate}}<br/>
                    <span class="task-status status-{{task.status | text:'L'}}">{{task.status | text:'L' | translate}}</span>
                </label>
                <input autofocus placeholder="{{'task_title' | translate}}" [readonly]="!isEditable" [(ngModel)]="task.title" ngControl="title" />
            </div>
        </h1>
    </header>
    <section class="content-body">
        <div class="task-tabs noselect" *ngIf="hasSubTasks() || hasRequests()">
            <div class="task-tab__title pinned">{{'properties' | translate}}</div>
            <div class="task-tab__title" [class.active]="showSubtasks" [class.hidden]="!hasSubTasks()" (click)="toggleShowSubtasks()">
                <i class="fa fa-sitemap"></i>
                <span>{{'subtasks' | translate}}</span>
            </div>
            <div class="task-tab__title" [class.active]="showRequests" [class.hidden]="!hasRequests()" (click)="toggleShowRequests()">
                <i class="fa fa-flag-checkered"></i>
                <span>{{'requests' | translate}}</span>
                <i class="fa fa-exclamation-circle" *ngIf="hasUnResolvedRequest"></i>
            </div>
        </div>
        <div class="task-tab" [class.active]="showSubtasks">
            <task-list [showSelect]="false" [tasks]="subTasks"></task-list>
        </div>
        <div class="task-tab" [class.active]="showRequests">
            <request-list [requests]="requests" (accept)="acceptRequest($event)" (decline)="declineRequest($event)"></request-list>
        </div>
        <div class="task-tab pinned">
            <fieldset class="fieldset">
                <div class="form-group" *ngIf="!isSubtask">
                    <div class="control-label">
                        {{'project' | translate}}
                    </div>
                    <div class="controls" [class.has-error]="!form.controls.projectId.valid">
                        <div class="span8">
                            <project-input [editable]="isEditable" [projectId]="task.projectId" (select)="setProject($event)"></project-input>
                        </div>
                    </div>
                    <div [hidden]="form.controls.projectId.valid || form.controls.projectId.pristine" class="error-message">
                        {{'required' | translate}}
                    </div>
                </div>
                <div class="form-group" *ngIf="!isSubtask">
                    <div class="control-label">
                        {{'task_type' | translate}}
                    </div>
                    <div class="controls" [class.has-error]="!form.controls.taskTypeId.valid">
                        <div class="span8">
                            <task-type-input [editable]="isEditable" [taskTypeId]="task.taskTypeId" (select)="setTaskType($event)"></task-type-input>
                        </div>
                        <div [hidden]="form.controls.taskTypeId.valid || form.controls.taskTypeId.pristine" class="error-message">
                            {{'required' | translate}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label">
                        {{'priority' | translate}}
                    </div>
                    <div class="controls" [class.has-error]="!form.controls.priority.valid">
                        <switch-button [disabled]="!isEditable" [model]="task" value="priority" [items]="taskPriorityTypes"></switch-button>
                        <div [hidden]="form.controls.priority.valid || form.controls.priority.pristine" class="error-message">
                            {{'required' | translate}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label">
                        {{'assignee_user' | translate}}
                    </div>
                    <div class="controls" [class.has-error]="!form.controls.assigneeUserId.valid">
                        <div class="span8">
                            <user-input [editable]="isEditable" [userIds]="[task.assigneeUserId]" (select)="setAssigneeUser($event)"></user-input>
                        </div>
                        <div [hidden]="form.controls.assigneeUserId.valid || form.controls.assigneeUserId.pristine" class="error-message">
                            {{'required' | translate}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label">
                        {{'start_date' | translate}}
                    </div>
                    <div class="controls">
                        <div class="span2" *ngIf="!isEditable">
                            <span class="input">{{task.startDate}}</span>
                        </div>
                        <input datepicker class="span2" *ngIf="isEditable" (select)="setStartDate($event)" [(ngModel)]="task.startDate" ngControl="startDate" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label">
                        {{'due_date' | translate}}
                    </div>
                    <div class="controls">
                        <div class="span2" *ngIf="!isEditable">
                            <span class="input">{{task.dueDate}}</span>
                        </div>
                        <input datepicker class="span2" *ngIf="isEditable" (select)="setDueDate($event)" [(ngModel)]="task.dueDate" ngControl="dueDate" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label">
                        {{'tags' | translate}}
                    </div>
                    <div class="controls" [class.has-error]="!form.controls.tagIds.valid">
                        <div class="span8">
                            <tags-input [editable]="isEditable" [tagIds]="task.tagIds" (select)="setTags($event)"></tags-input>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label"></div>
                    <div class="controls">
                        <label class="input" [class.disabled]="!isEditable">
                            <input type="checkbox" name="customerObservation" value="1" [disabled]="!isEditable" [(ngModel)]="task.customerObservation" />
                            <span>{{'publish_to_customer' | translate}}</span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <markdown-editor placeHolder="{{'body' | translate}}" [markdown]="task.body || ''" [editable]="isEditable" updateTimeout="300" (update)="updateTaskBody($event)"></markdown-editor>
                </div>
            </fieldset>
            <attachments [editable]="isEditable" [model]="task" (upload)="addAttachment($event)" (delete)="deleteAttachment($event)"></attachments>
        </div>
        <comments *ngIf="!isNew" [comments]="comments" (add)="saveComment($event)" (update)="saveComment($event)" (delete)="deleteComment($event)"></comments>
    </section>
    <footer class="content-footer">
        <div class="record-author" *ngIf="task.authorId">
            <span>{{'author' | translate}}</span>
            <user-input [editable]="false" [userIds]="[task.authorId]"></user-input>
            <time>{{task.regDate}}</time>
        </div>
    </footer>
</form>
<request (send)="onSendRequest($event)"></request>
