<div class="content-header">
    <h1 class="header-title">
        {{title | translate}}
    </h1>
    <div class="content-actions">
        <button class="btn" type="button" (click)="newTask()">
            {{'new_task' | translate}}
        </button>
        <button class="btn btn-refresh" type="button" (click)="refresh()">
            <i class="fa fa-refresh"></i>
        </button>
        <task-filter (change)="changeFilter($event)"></task-filter>
        <pagination [totalPages]="meta.totalPages" [page]="meta.page" (change)="goToPage($event)"></pagination>
    </div>
</div>
<div class="content-body" [class.load]="loading">
    <task-list [tasks]="tasks" (toggleStream)="onToggleStream($event)"></task-list>
</div>
<router-outlet></router-outlet>
