<div class="content-header">
    <h1 class="header-title">
        {{title | translate}}
    </h1>
    <div class="content-actions">
        <button class="btn" type="button" (click)="newTask()">
            {{'new_task' | translate}}
        </button>
        <pagination [totalPages]="meta.totalPages" [page]="meta.page" (change)="goToPage($event)"></pagination>
    </div>
</div>
<div class="content-body" [class.load]="requestProcess">
    <task-list [tasks]="tasks"></task-list>
</div>
<router-outlet></router-outlet>
