<div *ngFor="let m of stream">
    <div class="entry-wrap level-{{level}}" *ngIf="m">
        <div class="entry" *ngIf="m.kind == 'task'">
            <label class="entry-select" *ngIf="showSelect">
                <input type="checkbox" name="task-id" value="{{m.id}}" (change)="toggleSelected(m.id)" />
            </label>
            <a class="entry-link" [routerLink]="['/task', m.id]">
                <div class="entry-fields">
                    <div class="task-list__title expandable-level" [class.has-expandable]="m.hasSubtasks || m.hasRequests">
                        <div class="entry-expander" [class.is-expanded]="expandedIds.indexOf(m.id) != -1" (click)="toggleExpandable(m.id, $event)">
                            <i class="entry-expander_icon fa"></i>
                        </div>
                        <span>{{m.title}}</span>
                    </div>
                    <div class="vw-icon">
                        <i class="fa fa-paperclip" *ngIf="m.hasAttachments"></i>
                    </div>
                    <div class="task-list__status">
                        <span class="status-{{m.status | text:'L'}}">{{m.status | text:'L' | translate}}</span>
                    </div>
                    <div class="task-list__priority">
                        <span class="priority-{{m.priority | text:'L'}}">{{m.priority | text:'L' | translate}}</span>
                    </div>
                    <div class="task-list__assignee">
                        <employee-input [ids]="[m.assigneeUserId]"></employee-input>
                    </div>
                    <div class="task-list__start_date">{{m.startDate | dateFmt:'DD.MM.YYYY'}}</div>
                    <div class="task-list__due_date">
                        <span>{{m.dueDate | dateFmt:'DD.MM.YYYY'}}</span>
                        <span>{{m.startDate | dateDuration:m.dueDate}}</span>
                    </div>
                    <div class="task-list__tags">
                        <tags-input [ids]="m.tagIds"></tags-input>
                    </div>
                </div>
            </a>
        </div>
        <div class="entry" *ngIf="m.kind == 'request'">
            <label class="entry-select" *ngIf="showSelect">
                <input type="checkbox" value="{{m.id}}" (change)="toggleSelected(m.id)" />
            </label>
            <a class="entry-link" [routerLink]="['/requests', m.id]">
                <div class="entry-fields">
                    <div class="task-list__request_type expandable-level">
                        <div class="entry-expander">
                            <i class="entry-expander_icon fa"></i>
                        </div>
                        {{m.requestType | localizedName}}
                    </div>
                    <div class="request__time">{{m.regDate}}</div>
                    <div class="request__comment">{{m.comment}}</div>
                    <div class="request__attachments" *ngIf="m.attachments && m.attachments.length">
                        <i class="fa fa-paperclip"></i>
                    </div>
                    <span class="{{m.resolution | text:'L'}}" *ngIf="m.resolution == 'ACCEPT'">
                        <i class="fa fa-check"></i>
                        {{'accepted' | translate}}
                    </span>
                    <span class="{{m.resolution | text:'L'}}" *ngIf="m.resolution == 'DECLINE'">
                        <i class="fa fa-times"></i>
                        {{'declined' | translate}}
                    </span>
                    <div class="request__resolution_time">{{m.resolutionTime | dateFmt:'DD.MM.YYYY'}}</div>
                </div>
            </a>
        </div>
        <div class="entry" *ngIf="m.kind == 'comment'">
            <label class="entry-select">
                <input type="checkbox" value="{{m.id}}" (change)="toggleSelected(m.id)" />
            </label>
            <div class="entry-link">
                <div class="entry-fields">
                    <div class="task-list__comment_comment">{{m.comment}}</div>
                </div>
            </div>
        </div>
    </div>
    <task-stream *ngIf="m && m.kind == 'task'" [level]="level" [showSelect]="showSelect" [task]="m" (toggleStream)="onToggleStream($event)" (loadStreamLevel)="onLoadStreamLevel($event)"></task-stream>
</div>
