<div
	style="border: 1px solid #f1f1f1; margin: 0; max-width: 700px; padding: 8px; width: 100%;">
	B2B решения се изпълняват с помощта на нашите решения в
		отделни случаи да изискват доказателство за нивото на знанията на
		професионалистите, които използват нашите решения и нашия технологичен
		подход. Сертифициращ орган е структура в нашата общност, която
		предоставя на тестване на нивото на обучение на специалисти.
		Сертификат, издаден от центъра гарантира, че окончателното решение се
		възползват напълно от нашите инструменти и гарантира развитието на
		системата в съответствие с концепциите и идеите, които са били или ще
		бъдат разработени от общността компетентни специалисти в областта на
		информационните технологии.
</div>