<div
	style="border: 1px solid #f1f1f1; margin: 0; max-width: 700px; padding: 8px; width: 100%;">
	B2B решения, которые реализованы с использованием наших решений,
	в отдельных случаях требуют доказательства уровня знаний специалистов,
	которые используют наши решения и наш технологический подход.
	Центр сертификации является структурой в нашем сообществе,
	который обеспечивает проверку уровня подготовки специалистов.
	Сертификат выданный нашим центром гарантирует, что конечное решение использует все преимущества
	наших инструментов и гарантирует развитие этой системы в соответствии с концепциями
	и идеями которые разработаны или будут разработаны объединением компетентных
	специалистов в области информационных технологий.
</div>