<div
	style="border: 1px solid #f1f1f1; margin: 0; max-width: 700px; padding: 8px; width: 100%;">

	NextBase - Java приложение, которое включает в себя веб-сервер и некоторый дополнительный код,
	что позволяет назвать его сервером приложений. Одной из основных идей, была идея использовать
	свободное программное обеспечение и эта идея достигнута. Сервер является инструментом для быстрой разработки,
	где программист не чувствует каких либо ограничений платформы. “Бэк-енд” программисты и “Фронт-енд” программисты (дизайнеры)
	могут работать раздельно, что всегда удобно для команды разработчиков или совмещать разработку в одном
	“Фул-стэк” разработчике. Сервер является не сложным в установке, что позволяет приступить к разработке немедленно,
	без процессов сборки и настройки. Все библиотеки поставляются с сервером кроме RDBMS. RDBMS является PostgreSQL,
	которая является наиболее мощной и развитой базой данных среди свободно распространяемых RDBMS и также несложна в установке.
</div>