.b-fg-milestones-result {
    background-color: rgba(0, 0, 0, 0.03);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    padding: 0 1rem;
}

@media (max-width: 767px) {
    .b-fg-milestones-result {
        margin-left: 0;
        margin-top: 12px;
        width: 100%;
    }
}
