<div
	style="border: 1px solid #f1f1f1; margin: 0; max-width: 700px; padding: 8px; width: 100%;">
	NextBase - по същество една сървър Java, който включва уеб
		сървър (Apache-Tomcat) и някои допълнителни програмен код, който ви
		позволява да го казва като сървър на приложения. От самото начало,
		беше една идея за използване на свободен софтуер, библиотеки, а идеята
		е била постигната. Сървърът е инструмент за бързо програмировние,
		където програмистът не се чувства никакво ограничение. "Back-End"
		програмисти и "Front-end" (дизайнери) могат да бъдат кодира поотделно,
		което винаги е добре за екип от програмисти или да се комбинират
		прогрмировние като "Full-stack" разработчик. Сървърът не е сложно да
		се инсталира, което позволява да се започне разработването веднага,
		без изграждане и въвеждане в процесите. Всички библиотеки са включени
		с изключение на RDBMS сървър. RDBMS е PostgreSQL, който е най-мощният
		и напреднали базата данни сред RDBMS с открит код и че също така е
		лесен за инсталиране.
</div>