<div
	style="border: 1px solid #f1f1f1; margin: 0; max-width: 700px; padding: 8px; width: 100%;">
	At the core, NextBase is a Java application builder that
		includes the web server (Apache-Tomcat). From the outset, the main aim
		was to laverage existing open source libraries. The server is a tool
		for rapid development, where both backend and frontend developers can
		code separately and non-obstructively. As the server is fairly easy to
		install, development may start immediately, without building and setup
		processes. Save for the database engine, all libraries are included in
		the bundle. NextBase requires PostgreSQL, one of the most powerful,
		reliable and advanced database servers.
</div>
