<div class="content-header" *ngIf="headerVisible">
    <h1 class="header-title" *ngIf="titleVisible">
        {{title | translate}}
        <sup *ngIf="!loading && meta.count">({{meta.count}})</sup>
    </h1>
    <div class="content-actions" *ngIf="actionsVisible">
        <button class="btn" type="button" (click)="newTask()">
            {{'new_task' | translate}}
        </button>
        <button class="btn btn-refresh" type="button" (click)="refresh()">
            <i class="fa fa-refresh"></i>
        </button>
        <task-filter (change)="changeFilter($event)"></task-filter>
        <pagination [totalPages]="meta.totalPages" [page]="meta.page" (change)="goToPage($event)"></pagination>
    </div>
</div>
<div class="content-body">
    <div class="view task-list">
        <header class="entries-head" *ngIf="captionsVisible">
            <div class="head-wrap">
                <label class="entry-select" *ngIf="selectable">
                    <input type="checkbox" class="all" />
                </label>
                <div class="entry-captions">
                    <div class="task-list__reg-number">{{'reg_number' | translate}}</div>
                    <div class="task-list__title">
                        <sort-control name="title" [active]="activeSort" (sort)="onSort($event)">
                            {{'task_title' | translate}}
                        </sort-control>
                    </div>
                    <div class="vw-icon"><i class="fa fa-paperclip"></i></div>
                    <div class="task-list__status">
                        <sort-control name="status" [active]="activeSort" (sort)="onSort($event)">
                            {{'status' | translate}}
                        </sort-control>
                    </div>
                    <div class="task-list__priority">
                        <sort-control name="priority" [active]="activeSort" (sort)="onSort($event)">
                            {{'priority' | translate}}
                        </sort-control>
                    </div>
                    <div class="task-list__assignee">{{'assignee_user' | translate}}</div>
                    <div class="task-list__start_date">
                        <sort-control name="startDate" [active]="activeSort" (sort)="onSort($event)">
                            {{'start_date' | translate}}
                        </sort-control>
                    </div>
                    <div class="task-list__due_date">
                        <sort-control name="dueDate" [active]="activeSort" (sort)="onSort($event)">
                            {{'due_date' | translate}}
                        </sort-control>
                    </div>
                    <div class="task-list__tags">{{'tags' | translate}}</div>
                </div>
            </div>
        </header>
        <div class="entries">
            <div class="view-empty" *ngIf="!loading && !tasks.length">
                {{'view_no_entries' | translate}}
            </div>
            <div class="top-entry" [class.is-last]="isLast" *ngFor="let task of tasks; let isLast = last">
                <div class="entry-wrap">
                    <div class="entry">
                        <label class="entry-select" *ngIf="selectable">
                            <input type="checkbox" name="task-id" value="{{task.id}}" />
                        </label>
                        <a class="entry-link" [routerLink]="['/task', task.id]">
                            <div class="entry-fields">
                                <div class="task-list__reg-number">
                                    <tree-indentation
                                        [expandable]="task.hasSubtasks || task.hasRequests"
                                        [expanded]="expandedIds.indexOf(task.id) != -1"
                                        (toggle)="toggleExpanded(task.id)">
                                        {{task.regNumber}}
                                    </tree-indentation>
                                </div>
                                <div class="task-list__title">
                                    <span>{{task.title}}</span>
                                </div>
                                <div class="vw-icon">
                                    <i class="fa fa-paperclip" *ngIf="task.hasAttachments"></i>
                                </div>
                                <div class="task-list__status">
                                    <span class="status-{{task.status | text:'L'}}">{{task.status | text:'L' | translate}}</span>
                                </div>
                                <div class="task-list__priority">
                                    <span class="priority-{{task.priority | text:'L'}}">{{task.priority | text:'L' | translate}}</span>
                                </div>
                                <div class="task-list__assignee">
                                    <employee-input [ids]="[task.assigneeUserId]"></employee-input>
                                </div>
                                <div class="task-list__start_date">{{task.startDate | dateFmt:'DD.MM.YYYY'}}</div>
                                <div class="task-list__due_date">
                                    <span>{{task.dueDate | dateFmt:'DD.MM.YYYY'}}</span>
                                    <span>{{task.startDate | dateDuration:task.dueDate}}</span>
                                </div>
                                <div class="task-list__tags">
                                    <tags-input [ids]="task.tagIds"></tags-input>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <task-tree
                    [rootId]="task.id"
                    [children]="task.children"
                    [selectable]="selectable">
                </task-tree>
            </div>
        </div>
    </div>
</div>
