.attachments {
    align-items: flex-start;
    border-bottom: 1px dotted #ccc;
    border-top: 1px dotted #ccc;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.attachments > .fa-paperclip {
    padding: 7px;
}

.attachment-list {
    padding: 0;
}

.attachment-list__item {
    display: inline-block;
    margin: 2px;
    padding: 4px 6px;
    vertical-align: top;
}

.attachment {
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: top;
}

.attachment img {
    cursor: pointer;
    max-height: 140px;
    max-width: 180px;
}

.attachment__link {
    background: rgba(255, 255, 255, 0.8);
    display: block;
    max-width: 220px;
    overflow: hidden;
    padding: 4px 6px;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
}

.attachment__size {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #fff;
    display: inline-block;
    padding: 2px;
}
