/* .vw- */

.vw-icon {
    min-width: 22px;
    text-align: center;
    width: 22px;
}

.vw-date {
    min-width: 105px;
    width: 105px;
}

.vw-reg-number {
    min-width: 190px;
    width: 190px;
}

.vw-title {
    min-width: 80px;
    width: 25%;
}

.vw-status {
    min-width: 100px;
    width: 100px;
}

.vw-demand-type {
    min-width: 190px;
    width: 190px;
}

.vw-customer {
    min-width: 190px;
    width: 190px;
}

.vw-tags {
    min-width: 80px;
    width: 16%;
}
